extends ../base

block content
  p.inwardSpeech “
    span.ns1.italic Did you know you can expense your...
    | ”
  p In fact, the whole email is superb. One of!{' '}
    a(href="https://docs.google.com/document/d/17vXKbjHjQq61vkaw0Ne8TyBKQFCeu6yvSR6iMRxEYGM/edit") a series
    |!{' '}that adds $8k / mo in revenue.
  img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl22a/p2.png" alt="Copywriter Nabeel Email Series").img__100.img__caption
  p.caption Cc: (the indomitable)!{' '}
    a(href="https://twitter.com/NabeelAzeezDXB/status/1686973420167102466" target="_blank") Nabeel
    |!{' '}who penned the email
  p
    span.italic — Harry