extends ../base

block content
  p Don't complicate marketing.
  p.inwardSpeech “Do something. If it works, do more of it. If it doesn't, do something else.” — Franklin D. Roosevelt
  img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/n11/nm1.png" alt="Reddit AMA for marketing").img__80
  p
    span.italic — Harry