extends ../base

block content
  h2 Lewis Capaldi
  p Last month Oasis legend Noel Gallagher decided to take a pop at up and coming music star Lewis Capaldi:
  p.inwardSpeech Music is f*****g w**k at the moment. Whose this Capaldi fella? Who the f****s that idiot!
  p Capaldi’s response was nothing short of brilliant. Performing at Glastonbury he walked out to the video of Noel Gallagher’s criticism, dressed in a bucket hat and parka (a classic Gallagher outfit),  before dedicating his performance to Noel at the end.
  p Capaldi’s entrance went viral. It got his name all over the press and social media and won him lots of new fans.
  video(src="https://harrydry.s3.amazonaws.com/gdmarketing/capaldiVideo.mp4" class="img__85" playsinline="playsinline" poster="https://harrydry.s3.amazonaws.com/gdmarketing/capaldiPoster.jpg" controls="controls")
  p Gallagher responded by calling Capalidi,&nbsp;
    span.italic F***ing Chewbacca
    |. Capaldi countered by changing his Twitter photo to Chewbacca and his name to Chewis Capaldi. He was running rings around him.
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/kfc3.jpg", alt="Tweet Photo Before and After").img__80
  p Gallagher's words were designed to do damage. But Capaldi took ownership of them. He wore them as a badge of honor. And in doing so he became&nbsp;
    a(href="https://fs.blog/2014/04/antifragile-a-definition/" target="_blank") antifragile
    | . The more you messed with him the stronger he got.
  h2 Understanding Antifragility
  p In plain language,&nbsp;
    span.bold antifragility
    |&nbsp;is the opposite of&nbsp;
    span.bold fragility
    | .
  p If you mess with something fragile you do damage. If you mess with something antifragile you make it stronger. Take golf as an example. The&nbsp;
    span.bold fragile
    |&nbsp;golfer loathes the wind. The&nbsp;
    span.bold antifragile
    |&nbsp;golfer uses it to their advantage.
  p And it’s the same with brands. The majority of brands are fragile. Increases in volatility (randomness, stressors, mistakes) are a PR departments worst nightmare. Just look at Facebook’s share price in 2018.
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/kfc2.png", alt="Fragile / Antifragile graph").img__80
  p But occasionally, just like Lewis Capaldi or the skilled golfer playing in the wind, brands can actually benefit from increases in randomness, stressors or mistakes.
  h2 KFC
  p Last year KFC ran out of chicken and were forced to temporarily close 700 UK branches. For the majority of companies, such a monumental fuck up would be a complete disaster. The default response is to issue a formal apology:
  p.inwardSpeech We’re launching a full and frank internal inquiry Bla Bla Bla …
  p But this is&nbsp;
    span.bold fragile
    | . It only ever adds fuel to the fire. Fortunately, KFC’s PR team intuitively grasped antifragility.
  p Instead, they took out a full-page ad in UK newspapers, showing an empty bucket of chicken, and the letters of their famous logo rearranged to read “FCK”.
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/kfc5.jpg", alt="KFC ran out of chicken ad").img__65
  p People started to see the funny side and just like that, an&nbsp;
    span.bold impending disaster
    |&nbsp;was spun into a&nbsp;
    span.bold positive PR story
    | . That's antifragility.
  h2 Becoming Antifragile
  p The key is&nbsp;
    span.bold ownership
    | . You either own the story or you let the story own you. And as we've seen through this article the best route to taking&nbsp;
    span.bold ownership
    |&nbsp;is:
  p.list.list__top 1. Embracing your flaws
  p.list.list__bottom 2. Not taking yourself too seriously
  p For example:
  p.inwardSpeech You will never get bullied for having a big nose if you walk around with a t-shirt saying, “I’ve got a big nose”.
  p This is Eminem's rap battle theory: you say everything about yourself before somebody else does.
  video(src="https://harrydry.s3.amazonaws.com/gdmarketing/kfc2.mp4" class="img__85" playsinline="playsinline" poster="https://harrydry.s3.amazonaws.com/gdmarketing/capaldiPoster1.jpg" controls="controls")
  p And then you're antifragile. Nothing anyone says can hurt you.
  h2 Nassim Taleb
  p If you'd like to learn more about antifragility, the concept was developed by the great&nbsp;
    a(href="https://twitter.com/nntaleb" target="_blank") Nassim Taleb
    |&nbsp;and his book,&nbsp;
    a(href="https://www.amazon.co.uk/Antifragile-Things-that-Gain-Disorder/dp/0141038225" target="_blank") Antifragile
    | , is the place to start.

