extends ../base

block content
  p Social media marketing in a line.
  p.inwardSpeech “Find the overlap between what your brand wants to say and what your audience wants to hear” — Matthew Kobach
  p Yesterday I saw a good example: A!{' '}
    a(href="https://www.tiktok.com/search?q=%23arcteryx") TikTok trend
    |!{' '}of people taking showers in Arc'teryx's extra waterproof jackets (started by Arc'teryx last year).
  p ~111M cumulative views.
  img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl6/nl1c.jpg" alt="Arc'teryx's Tik Tok Marketing Trend").img__100
  p
    span.italic Thanks for reading — Harry