extends ../base

block content
  p.list.list__top • Guy on Tinder insults a woman's ASOS dress.
  p.list • ASOS update their site making her the new model.
  p.list.list__bottom • Story goes completely viral. 80+ media placements.
  p Delight customers. Embrace karma.
  img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl6/nl3a.jpg" alt="ASOS Tinder Model Dress").img__100
  p
    span.italic Thanks for reading — Harry