extends ../base

block content
  p.inwardSpeech “Creativity is just connecting things” — Steve Jobs
  img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl21/nw5.jpg" alt="Barbie Newsjacking").img__100
  p
    span.italic — Harry