extends ../base

block content
  p Nothing to add.
  img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl10/nl4.png" alt="Four CTA's").img__100.img__caption
  p.caption h/t!{' '}
    a(href="https://twitter.com/VikkiRossWrites" target="_blank") Vikki Ross
    |!{' '}&!{' '}
    a(href="https://twitter.com/jasonfried" target="_blank") Jason Fried
  p
    span.italic — Harry