extends ../base

block content
  p Most agency marketing looks something like this.
  img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl27a/rf4a.png" alt="Generic SEO ads").img__100
  p Search Intelligence's strategy is a little simpler.
  p.list.list__top 1. Do great work
  p.list 2. Share!{' '}
    span.italic how 
    |!{' '}you did it
  p.list.list__bottom 3. Run as ad on founder’s personal account
  img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl27a/rf4b.png" alt="Search Intelligence ads").img__100.img__caption
  p.caption
    | [
    a(href="https://twitter.com/FeryKaszoni/status/1756259523138830414" target="_blank") 1
    | ] [
    a(href="https://twitter.com/FeryKaszoni/status/1750271051366375638" target="_blank") 2
    | ]
  p Straight up steak on a plate. Who'd you want to work with?
  p An avatar in your inbox promising “qUaLitY LeAdS” or a founder giving a step-by-step breakdown of a 100 link client campaign!{' '} 
    span.italic in one take
    | .
  p Fery tells me revenue is $2.7M up on last year. Probably coincidental.
  p
    span.italic — Harry