extends ../base

block content
  p No explanation needed.
  img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl9/nl2a.jpg" alt="Niche Twitter Accounts Marketing").img__100
  p
    span.italic — Harry
