extends ../base

block content
  p.list.list__top •!{' '}
    a(href="https://twitter.com/fast" target="_blank") Fast
    |!{' '}coins term “Fastronaut”
  p.list • Tweets “reply and we'll give your profile pic a Fastronaut helmet”
  p.list • 400 reply and get a pic
  p.list • “Rule of reciprocity” creates bond
  p.list.list__bottom • Users share and update profile pic to Fastronaut one
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/fast.jpg" alt="Marketing Examples Product Hunt").img__100