extends ../base

block content
  h2 The fundamentals of Growth
  p Before we get into&nbsp;
    a(href="https://www.epicgames.com/fortnite/en-US/home" target="_blank") Fortnite
    | , let's take a quick look at a classic growth funnel:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/fortnite1.png" alt="Fortnite 1").img__50
  p First up,&nbsp;
    mark.ss1 Awareness
    | . This is about getting the word out there. Ads, cold emails, flyers, whatever it takes. Next,&nbsp;
    mark.ss2 Conversion
    |&nbsp;is about turning these passers-by into customers.&nbsp;
    mark.ss3 Retention
    |&nbsp;is giving customers a good time so they keep paying you.&nbsp;
    mark.ss4 Referral
    |&nbsp;is when your customers become fans and start selling your own product for you. And finally,&nbsp;
    mark.ss5 Growth
    |&nbsp;is what happens if you can get&nbsp;
    span.bold all four steps
    |&nbsp;working.
  h2 Before Fortnite
  p Now, before Fortnite came along, 99% of video games companies had a “top-down” approach to growth.&nbsp;
    span.ss1 Awareness
    |&nbsp;was the&nbsp;
    span.bold number one priority
    |&nbsp;and nothing else really mattered.
  p Take a look at this graph showing interest over time of two of the biggest games of 2018:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/fortnite2.png" alt="Fortnite 2").img__95
  p They'd all splash the cash on a huge launch, sell 500 million dollars worth in the first week (85% of total sales), toast a celebratory beer and then get cracking on next years game.
  p Now whilst this approach certainly works, it’s hardly good use of the&nbsp;
    span.bold growth funnel
    | .
  p For all the primetime commercials, huge billboards, and celeb endorsements there’s not much&nbsp;
    span.ss2 conversion
    |,&nbsp;
    span.ss4 referral
    |&nbsp;and&nbsp;
    span.ss3 retention
    |&nbsp;going on. No sooner do customers come in do they leak out the growth funnel.
  h2 Fortnite
  p Back when Epic Games launched Fortnite in 2017, they didn’t have the budget or reputation of a Call of Duty. They couldn’t simply drum up&nbsp;
    span.italic 500 million dollars
    |&nbsp;of sales in the first week.
  p So, instead of looking at growth&nbsp;
    span.italic top down
    |&nbsp;they were forced to look at it&nbsp;
    span.italic bottom-up
    | . The theory was if they could nail&nbsp;
    span.ss2 conversion
    |,&nbsp;
    span.ss4 referral
    |&nbsp;and&nbsp;
    span.ss3 retention
    |&nbsp;(the cheaper parts of the funnel) they could close up the leaks and lay some solid foundations for growth down the line.
    p If you add Fortnite to the&nbsp;
      span.italic interest over time
      |&nbsp;graph you’ll see this in action.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/fortnite3.png" alt="Fortnite 4").img__95
  p There was no big launch spike, instead 9 months of slow and steady growth before momentum grew.
  p Let’s get into the specifics.
  h2 Retention
  p Arguably the smartest thing Fortnite did is introduce the concept of&nbsp;
    span.bold seasons.
    |&nbsp;Every ten weeks a whole new season would launch. They’d premiere a new trailer. The storyline would update, the maps would change, new characters were introduced, etc ...
  p This meant that their small initial launch didn’t really matter. Because every 10 weeks or so they were pretty much launching their game again.
  p Another tactic Fortnite use to keep players coming back is&nbsp;
    span.bold limited time game modes
    | . In fact, as I’m writing this, they’ve just launched a new one called&nbsp;
    a(href="https://www.youtube.com/watch?v=8wDq-AOW184" target="_blank") Fourteen Days of Summer
    |.
  p Imagine if you were told there were actually only going to be&nbsp;
    span.italic 14 days of summer
    |&nbsp;this year. You’d probably cancel all your plans and spend every day out in the sun. The psychological effect is the same for Fortnite gamers. What is scarce becomes very attractive. And FOMO keeps them coming back time after time.
  p Not only does this keep current players engaged, it also helps pull in a new audience. Every launch is a new excuse to talk about the game. In the early days, this might have just been a few hardcore YouTubers “reacting” to the latest season. But as the game grew, each launch would be met with an avalanche of fresh press, new memes, and creator content.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/fortnite4.jpg" alt="Fortnite 4").img__95
  p Imagine adding a new lick of paint to your startup, making a new GIF, and enjoying a Product Hunt spike month after month. Well that’s pretty much the situation Fortnite engineered.
  p If you cast your eye back to the&nbsp;
    span.italic interest over time graph
    |&nbsp;you’ll see this in action. Every short dip quickly spikes straight back up as the game is continually “relaunched”.
  h2 Conversion
  p Another Epic Games masterstroke was stripping away every single possible&nbsp;
    span.bold barrier to conversion
    | . Once you'd heard about Fortnite, there was literally no reason to not try it out.
  p.list.list__top &#8226; The&nbsp;
    a(href="https://www.epicgames.com/fortnite/en-US/play-now/battle-royale" target="_blank") Battle Royale
    |&nbsp;game mode is free
  p.list &#8226; It’s available on any platform: Xbox / PS4, PC, Nintendo, iPhone, Android
  p.list.list__bottom &#8226; Just Pegi 12 age rating
  p A 15 year old girl could be on the school bus, overhear some kids talking about Fortnite, pull out her phone, download it from the App Store and be playing it herself in less than a minute.
  p Compare this to Call of Duty. You’d need access to a games console, a parent willing to purchase the game (18+ rating) and $50 spare pocket money.
  p Ironically, the freemium model doesn’t actually mean less revenue. The&nbsp;
    a(href="https://lendedu.com/blog/finances-of-fortnite/") average Battle Royale player spends $58.25
    |&nbsp;on outfits, gliders, dance moves etc. I’m sure Kanye’s not the only one feeling the pain!
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/fortnite5.png" alt="Kanye In App Purchases").img__70
  h2 Referral
  p Technically speaking referral is the number of new users an existing user generates:
  p.inwardSpeech number of shares * conversion per share = k (Viral Coefficient)
  p You can see from this equation how Fortnite’s high conversion feeds into referrals. But why was Fortnite shared so widely in the first place?
  p Being lighthearted, gender inclusive, and easy to master there was no social circle it looked out of place at. It’s inclusivity saw it transcend the gaming community and became the general content creators dream (
    span.bold 80%
    |&nbsp;of YouTube Fortnite videos were made by&nbsp;
    span.bold non-gaming channels
    |).
  p Take the Fornite character dance moves as an example. On paper it's a fun add-on, but in reality it was fundamental in&nbsp;
    span.bold engaging influencers
    |&nbsp;who would never typically make content about shooter games.
  p People started uploading videos attempting the dance moves. This morphed into the&nbsp;
    a(href="https://www.youtube.com/watch?v=RXABo9hm8B8" target="_blank") Fortnite Dance Challenge
    | , a phenomenon that amassed more than 1 billion views on YouTube across 2018.
  p Sports stars, spotting this trend started pulling out Fortnite dance moves to celebrate, which only added to the press and social media frenzy.
  video(src="https://harrydry.s3.amazonaws.com/gdmarketing/fortnite1.mp4" class="img__90" playsinline="playsinline" preload="auto" controls="controls")
  h2 Awareness
  p Now, as I said at the beginning, awareness wasn’t at the top of Epic Games’s priority list when they launched Fortnite. They knew if they could build a game which:
  p.list.list__top &#8226; Kept people coming back -&nbsp;
    span.ss3 Retention
  p.list &#8226; Anyone could download -&nbsp;
    span.ss2 Conversion
  p.list.list__bottom &#8226; Creators loved to make videos about -&nbsp;
    span.ss4 Referral
  p then&nbsp;
    span.ss1 Awareness
    |&nbsp;would take care of itself. And it did. Throughout 2018 alone&nbsp;
    span.bold 50 billion
    |&nbsp;YouTube views were generated&nbsp;
    span.bold organically
    |&nbsp;by creators. This dwarfed the&nbsp;
    span.bold 600 million
    |&nbsp;views Fortnite generated itself through paid content. (Source:&nbsp;
    a(href="https://tubularlabs.com/research-guides/fortnite-changed-youtube-game/" target="_blank") Tubular
    |)
  p And that’s the power of sustainable&nbsp;
    span.italic bottom-up growth
    | . People come into the funnel to have a little nosey around, and before you know it they’re a&nbsp;
    span.bold hardcore fan
    |&nbsp;selling your product for you.
  h2 Summary
  p Phew! We made it.
  p Let’s forget about Fortnite for a second because, at its core, this is an example to emphasise the contrast between&nbsp;
    span.italic top-down
    |&nbsp;and&nbsp;
    span.italic bottom-up
    | growth.
  p Traditionally marketers are drawn to&nbsp;
    span.italic top-of-funnel
    |&nbsp;activities: Billboards, Influencers, Social Media, etc. These campaigns are easier to justify. They’re bigger, bolder, sexier.
  p But, the reality is, it's probably far more efficient to work from the&nbsp;
    span.italic bottom-up
    |&nbsp;— patching up the existing holes in your bucket before blindly pouring another gallon of water in.






