extends ../base

block content
  p Earlier this year&nbsp;
    a(href="https://www.baremetrics.com" target="_blank") Baremetrics
    | &nbsp;offered to share any exciting customer news on their twitter page.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/baremetrics.png" alt="Baremetrics Intercom").img__65
  p I like it for a few reasons:
  p.list.list__top 1. It's a great way to build customer goodwill.
  p.list 2. The cost to Baremetrics is effectively zero.
  p.list 3. It's relevant to Baremetrics' mission of helping startups grow.
  p.list.list__bottom 4. An Intercom message with&nbsp;
    span.bold no alterior motive
    | &nbsp;is memorable.
  p When you cancel Amazon Prime there’s no love lost. Now, if you consider cancelling Baremetrics your mind will flash back to the time good ol' Hayley tweeted about that blog you spent the weekend writing.
  p And finally, it's not really that important whether Baremetrics tweet about your startup or not. What&nbsp;
    span.bold is important
    |&nbsp;is that&nbsp;
    span.bold they showed a willingness to
    | . You may skim past the message, but subconciously it reinforces in your head that Baremetrics are a good company who want to help you.
  h2 The Great Diversifier
  p Back in the day gradually building up goodwill with customers was par for the course. You booked your holiday at the travel agents. You got your mail from the mailman. They smiled back at you and wished you a good day.
  p But as technology marched on, there became fewer and fewer reasons to actually&nbsp;
    span.bold need
    | &nbsp;to talk with your customers.
  p Technology became the&nbsp;
    span.bold great customer relations diversifier
    | .
  p The majority of companies set out to squeeze every last efficienct drop from technology, eliminating the need to ever talk with customers. But a select few, were just as interested in how technology could be leveraged creatively to build even&nbsp;
    span.bold tighter bonds
    |&nbsp;with customers.
  p This example from Baremetrics is a great example of the latter.