extends ../base

block content
  p February 2010. Jason Cohen had an idea for a new WordPress hosting service.
  p He logged onto Linkedin, searched for Wordpress consultants and sent forty of them the following email.
  img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl25c/jc.jpg" alt="Jason Cohen's $100M email").img__100
  p The results:
  p.inwardSpeech
    span.italic “100% agreed to talk to me on the phone. Not one asked for any money. Thirty agreed to pay $50 / mo.
  p.inwardSpeech
    span.italic Before I had a company name, before I had a powerpoint, before I had a server, I already had 30 customers willing to pay.”
  p I love the email. Especially, the last paragraph.
  p It's flattering. It's respectful. It's fair. It's rare. Tick those boxes and people are happy to help 🙂
  p Jason did end up giving his company a name. Today, WP Engine, makes $100M / year.
  p
    span.italic — Harry