extends ../base

block content
  //- p Fitness instructor, Joe Wicks, was preparing for a nationwide tour of UK schools.
  p March, 2020. Fitness instructor, Joe Wicks, was putting the finishing touches to his UK schools tour.
  p Coronavirus hit. The schools closed. Joe’s tour was cancelled.
  p It looked like a disaster. But Joe had an idea.
  p With everyone in lockdown he could be “the nation's P.E. teacher”. 30 minute workouts. Every morning. Live on YouTube.
  p
    span.italic P.E. with Joe
    |!{' '}was born. And it took the nation by storm:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/jw3.png" alt="Marketing Examples Product Hunt").img__100
  //- p So, how did Joe Wicks start a movement?
  //- p Let's break down the six ingredients behind Joe's movement:
  p Let's break down how Joe did it:
  h2.under 1) Niche down
  p Every movement needs a focal point. Joe's was kids.
  p This gave his workouts a!{' '}
    span.italic purpose
    |!{' '}— “to keep kids active during lockdown”. And seperated him from the hundreds of other YouTubers doing live workouts.
  h2.under 2) A clear message
  p Video is long. Text is boring. Image is the best medium to communicate a message. And Joe's was great.
  p Look at it for two seconds and you know exactly what’s going on.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/jw1.png" alt="Marketing Examples Product Hunt").img__100
  h2.under 3) Spread the message
  p Next, Joe took to social media to rally his followers.
  //- p Alone, his reach was limited. He needed to inspire his followers to help.
  //- p If he could inspire his followers to spread the word, and he could reach 10x that:
  //- img(src="https://s3.amazonaws.com/harrydry/gdmarketing/jw4e.png" alt="Marketing Examples Product Hunt").img__80
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/jw2.png" alt="Marketing Examples Product Hunt").img__100
  p Two things stand out:
  p.list.list__top • Joe puts parents at the center of his message. It's not about him.
  p.list.list__bottom • The sharing instructions are specific. People need spoon feeding.
  h2.under 4) Create a bond
  p So, Joe did everything right. And 6 million tuned in for his first workout. The challenge was to keep them entertained.
  p So far, Joe's set P.E. homework, done fancy dress, and had kids write workout poems. Each new challenge is another social media spike, more press, and a chance to interact with his audience.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/jw4.jpg" alt="Marketing Examples Product Hunt").img__100
  p Two weeks on and a million kids are still engaged.
  p.asterix * * *
  p That's how Joe Wicks went from fitness instructor to “the nation's P.E. teacher”. Messaging is key.