extends ../base

block content
  p Kapwing's a meme maker. I love their YouTube strategy.
  p.list.list__top 1. Finds memes about to go viral
  p.list 2. Uploads “how to make meme” videos to YouTube
  p.list 3. Hundreds of thousands start Googling
  p.list 4. Watch Kapwing's tutorial
  p.list.list__bottom 5. Which uses!{' '}
    span.italic their app
    |!{' '}to make meme
  p
    span.bold 420k
    |!{' '}views / week.
  img(src="https://ik.imagekit.io/o08ysq9vx/mearticles/kapwing-youtube/kapwingyt.png" alt="TT1").img__100
