extends ../base

block content
  p Give me something tangible.
  img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl31a/mm4.png" alt="Quick CRO on checkout page tip").img__100.img__caption
  p.caption Credit to fellow!{' '}
    a(href="https://x.com/dtcpages" target="_blank") Harry
    |!{' '}from!{' '}
    a(href="https://www.dtcpages.com/" target="_blank") DTC pages
  p
    span.italic — Harry