extends ../base

block content
  p Nothing says INGORE ME quite like “
    span.italic #ad
    | ”.
  p It's lazy, it's ugly, somehow it's the norm.
  p Don't!{' '}
    span.italic hashtag
    |!{' '}it,!{' '}
    span.italic.ns1 own
    |!{' '}it.
  img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl25c/td3.jpg" alt="Integrated ad").img__100.img__caption
  p.caption
    a(href="https://www.instagram.com/p/CuSENxEt713/" target="_blank") See the ad
  p
    span.italic — Harry