extends ../base

block content
  p When I left university my friend&nbsp;
    a(href="https://www.theclassicvaluer.com/" target="_blank") Giles
    |&nbsp;and I set up&nbsp;
    a(href="https://cryptic-tundra-74488.herokuapp.com/" target="_blank") 140 Canvas
    | , a small business allowing anyone to design their own tweets and purchase them as canvas prints.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/140canvas1.jpg" alt="140 Canvas Website").img__85
  p By late 2017 sales were dwindling. We had just £200 left in the budget and desperately needed to get eyeballs on our product in the run-up to Christmas.
  h2 Giles' Idea
  p Thankfully Giles had come up with an idea. He showed me&nbsp;
    a(href="https://youtu.be/uOFDmbUlrT4?t=392" target="_blank") a video
    |&nbsp;from Casey Neistat’s YouTube channel where he opens fan mail on camera.
  p He said all we'd have to do is post one of our canvases to Casey, he’d open it up on camera, we’d get mega exposure and the money will come rolling in. I started laughing. It sounded wacky, but we agreed it was a worth a shot.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/140canvas2.jpg" alt="Mailtime Canvases").img__85
  p We quickly discovered that opening fan mail on camera wasn’t&nbsp;
    span.bold just
    |&nbsp;something Casey Neistat did, but a broader YouTuber phenomenon called&nbsp;
    a(href="https://www.youtube.com/results?search_query=mail+time" target="_blank") Mail Time
    | . So Giles' little idea became a bigger idea.
  p We found ten YouTubers who did regular Mail Time videos, wrote ten funny tweets, printed them off as A1 Canvases, and shipped them to their PO boxes around the world.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/140canvas4.jpg" alt="Mailtime Wrapping").img__55
  h2 The Results
  p A couple of weeks passed and a YouTuber called Chilly did a&nbsp;
    a(href="https://youtu.be/5hruIuLLR4o?t=152" target="_blank") MailTime video
    |&nbsp;and opened our canvas on camera. Not only did she give us 4 minutes airtime, she was so blown away by our gift that she gave a free shoutout to our website in the description and pinned my comment to the top of her video. This video ended up with&nbsp;
    span.bold 3.3 million
    |&nbsp;views.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/140canvas6.png" alt="Chilly Mail Time").img__85
  p A few more weeks passed and another YouTuber called Sodapoppin opened our canvas on camera.&nbsp;
    a(href="https://youtu.be/5hruIuLLR4o?t=152" target="_blank") That video
    | &nbsp;ended up with&nbsp;
    span.bold 400k views
    | .
  video(src="https://harrydry.s3.amazonaws.com/gdmarketing/140canvas.mp4" class="img__75" playsinline="playsinline" poster="https://harrydry.s3.amazonaws.com/gdmarketing/140canvasposter.jpg" controls="controls")
  p And that was that.&nbsp;
    span.bold £250
    |&nbsp;spent.&nbsp;
    span.bold 2/10
    |&nbsp;canvases opened.&nbsp;
    span.bold 20%
    |&nbsp;hit rate.&nbsp;
    span.bold 3.7
    |&nbsp;million views.&nbsp;
    span.bold 17k
    |&nbsp;uniques our site. Can't really complain.
  h2 Why it worked
  p Having binge-watched countless Mail Time videos to prepare, our number one lesson was that&nbsp;
    span.bold genuine fan mail
    |&nbsp;got an infinitely better reaction than&nbsp;
    span.bold company promotions
    | . So our challenge was to come across like genuine fans.
  p Whilst most companies sending products included formal letters and sleek packaging we did the complete opposite. We bought glitter, fancy cards, bubblewrap, Christmas wrapping paper and hand wrote personal letters.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/140canvas3.jpg" alt="Mailtime Wrapping").img__80
  p For example, our letter to Casey Neistat read:
  p.inwardSpeech.list__bottom Alright Casey,
  p.inwardSpeech.letter I’ve been a big fan ever since&nbsp;
    a(href="https://www.youtube.com/watch?v=bzE-IMaegzQ" target="_blank") Bike Lanes
    |&nbsp;went viral. I remember watching the&nbsp;
    a(href="https://www.youtube.com/watch?v=jG7dSXcfVqE" target="_blank") Do What You Can’t Video
    |&nbsp;and thinking screw it, I’m going to drop out of uni and learn how to code.
  p.inwardSpeech.letter A few months later and I’ve built my first startup&nbsp;
    a(href="https://cryptic-tundra-74488.herokuapp.com/" target="_blank") 140canvas.com
    |, which sells “Design your own” tweets. I wanted to send you one as a thank you.
  p.inwardSpeech.list__top Best Wishes,<br>Harry
  p It's self-promotion without&nbsp;
    span.bold being
    |&nbsp;self-promotion. And that’s key. The best marketing doesn’t look like marketing because as soon as people know they are being sold to they tune out.
  p Another thing we'd learnt binge watching Mail Time was that&nbsp;
    span.bold personal touches
    |&nbsp;made a big difference. We had a big leg up here because the whole point of our gift was that&nbsp;
    span.bold it was personal
    | . You could write whatever you wanted to.
  p For example, on the canvas we sent Casey was a tweet from Spike Jonze (his all-time hero) saying just how much he liked the new daily vlog.
  p If bloggers think in&nbsp;
    span.bold headlines
    |, YouTubers think in&nbsp;
    span.bold thumbnails
    | . And we thought Casey holding a huge tweet from Spike Jonze would make a pretty awesome thumbnail.
  h2 And finally
  p People love a&nbsp;
    span.italic plucky underdog
    | . And throughout our letters we cast ourselves as just that. Two young guys, straight outta school, taking on the world. That was the story. And it was a story people could buy in to.
  p Would Chilly have given us such a big shoutout if our note was typed out on letterheaded paper and signed by a&nbsp;
    span.italic Director of Global Marketing
    | ?

