extends ../base

block content
  p
    span.ss1 Objection Handle
    | .!{' '}
    span.ss2 Social proof
    | .!{' '}
    span.ss3 Actionable outcome
  p Two minute tweak. Thousands of extra subscribers.
  img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/n13/nl4b.png" alt="Milk Road").img__100
  p
    span.italic — Harry