extends ../base

block content
  p April 1964 Phil Knight’s (the co-founder of Nike) first shipment of shoes arrived from Japan. He left his accountancy job and all that spring did nothing but sell shoes out of the boot of his car.
  p To quote Knight:
  p.inwardSpeech My sales strategy was simple and I thought rather brilliant. I drove all over the Pacific Northwest, to various track meets. Between races, I’d chat up the coaches, the runners, the fans and show them my wares. The response was always the same. I couldn’t write orders fast enough.
  h2 Employee Number One - Jeff Johnson
  p Midway through 1965 Knight hired Jeff Johnson, his first full-time employee. And Johnson was an even more prolific salesman than Knight. In ten months he’d sold 3,250 pairs of shoes, which to quote Knight was a “completely impossible” feat.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/nike1.jpg" alt="Jeff Johnson Nike").img__75
  p Johnson’s selling strategy was similar to Knights. He’d go to track meets, stand on the infield and chat up high school athletics coaches. But when it came to building relationships with customers Johnson was on a whole new level.
  h2 Johnson's mailing list
  p Every time Johnson sold a pair of shoes he’d create an index card for that customer. He’d jot down all manner of minutiae details: shoe size, shoe preference, favourite distance, etc …
  p Johnson used this handcrafted database to keep in touch with customers. He’d send birthday cards, training tips, notes of encouragement before big races.
  p Customers would write back telling him about their lives, their injuries, their troubles. Johnson had hundreds upon hundreds of customer pen pals. He had created the&nbsp;
    span.bold modern day mailing list
    |&nbsp;but with a response rate of 95%.
  p
  h2 Johnson's cobbler
  p Johnson wasn’t just renowned for his mail correspondence. He went the extra mile in everything he did.
  p Once a customer complained that the shoes didn’t have enough cushion for long distance running. Johnson hired a cobbler who grafted new rubber soles into the shoes and sent them back a few days later. Soon after Johnson got a letter in the post from the customer saying he’d just posted a personal best at the Boston marathon.
  h2 An impossible task
  p In 1967 Knight set Johnson another impossible task. He had to single-handedly establish  Blue Ribbon (which later became Nike) on the East Coast. This meant&nbsp;
    span.bold rebuilding his whole running network from scratch
    | .
  p What did Johnson do? Well, he worked through his index cards until he found a track star in the East who he’d shared letters with, drove to the kid's house and knocked on the door unannounced.
  p Fortunately for Johnson, he was invited in and treated to dinner with the whole family. The next day they went for a run together and the kid gave Johnson a list of names: respected coaches, potential customers, local running clubs.
  p Just like that Johnson’s network in the East was up and running.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/nike2.jpg" alt="Jeff Johnson - Wellesley, Massachusetts").img__75
  h2 Customers become fans
  p When customers become fans they start selling your own product for you. Johnson’s great skill was&nbsp;
    span.bold turning customers into fans
    | .
  p Imagine you’re scrolling through Instagram and you see an ad for a new running shoe. It’s unlikely you’re going to tell your friends.
  p Now imagine you see Jeff Johnson out on the track. He sucks you in with his passion, grafts rubber soles onto your shoes, wishes you luck before big meets, eats dinner with your family, sends you birthday cards, Christmas cards, get well soon cards, free t-shirts. You don’t just tell your friends about his shoes, you tell your whole running club.
  p And that’s exactly what happened. Nike sold its first 50,000 shoes on the&nbsp;
    span.bold power of word of mouth
    |&nbsp;alone. A small sales team going out to track meets, talking to runners, turning them into customers, and then into fans. One by one.
  h2 The Safety of Glass offices
  p It’s becoming easier and easier to come up with excuses to not recruit your first customers manually.
  p “Well, if we're optimising for CPA, CPL, CR, CRO, CTR, CLV and of course CoCa, the value really is all online now” the suits mumble, from the safety of their glass-paneled office.
  p All I’ll say is this: Jeff Johnson started from nothing and sold 3,250 pairs of shoes from the boot of his car in less than a year.
  p So, go ahead. Grow your Facebook page. Have fun with your follow/unfollow bots. Tweet until your heart's content. But you’ll be lucky to get 325 followers in a year, let alone sell 3,250 pairs of shoes.
  p Once you become a million dollar company it might&nbsp;
    span.italic all be online
    | . But embrace the time you’re small enough to talk to every customer and turn them into fans. One by one.
  h2 Things that don't scale
  p This story reminds me of Paul Graham’s famous essay,&nbsp;
    a(href="http://paulgraham.com/ds.html") Do Things that Don't Scale
    | .
  p He writes:
  p.inwardSpeech Startups succeed because their founders make them succeed. You can’t wait for users to come to you. You have to go out and get them.
  p There’s no better example of this than Phil Knight and Jeff Johnson. They went out and got their customers. They made Nike succeed.
  h2 Support
  p This was my favourite one to write so far. All the info came from Phil Knight’s book&nbsp;
    a(href="https://www.amazon.co.uk/Shoe-Dog-Memoir-Creator-NIKE/dp/1471146707") Shoe Dog
    | . If you enjoyed reading following on&nbsp;
    a(href="https://twitter.com/GoodMarketingHQ" target="_blank") twitter
    |&nbsp;goes a long way. I distil each example into an easy to digest thread.
