extends ../base

block content
  p
    span.ns1 Personalise
    | .!{' '}
    span.ns3 Pain Point
    | .!{' '}
    span.ns2 Pitch
    | .
    img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/n12/nl1c.png" alt="Cold email pattern").img__100
  p
    span.italic — Harry