extends ../base

block content
  p My new favourite CRO experiment
  p.inwardSpeech “Press!{' '}
    span.bold B
    |!{' '}anytime to Buy”
  img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl25c/td1.png" alt="Ali Abdaal Press b to buy").img__100.img__caption
  p.caption
    a(href="https://www.feelgoodproductivity.com/" target="_blank") Take a look yourself
  p
    span.italic — Harry