extends ../base

block content
  p.list.list__top
    span.bold 1/
    |!{' '}Sets expectations before you see price
  p.list
    span.bold 2/
    |!{' '}Create comparison which frames Basecamp favourably
  p.list.list__bottom
    span.bold 3/
    |!{' '}Uses comparison to anchor customers to higher price
  img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl8/nl3z.png" alt="How Basecamp makes $99/month feel cheap").img__100
  p
    span.italic — Harry