extends ../base

block content
  p.inwardSpeech Take a guess.
  img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl27a/rf3.jpg" alt="One of these videos has 18M views").img__100.img__caption
  p.caption 
    span.bold Answer: How to Start a Speech
  p A good title makes a promise.
  p.inwardSpeech “Would you feel cheated if the content breaks the promise?”
  p That's when you have a good title.