extends ../base

block content
  p
    span.italic People will do anything for those who<br><br>• Encourage their dreams<br>• Justify their failures<br>• Allay their fears<br>• Confirm their suspicions<br>• And help throw rocks at their enemies<br><br>— Blair Warren
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/osp1.jpg" alt="Red Bull marketing").img__100
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/osp2.png" alt="Manual Healthcare marketing").img__100
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/osp3.jpg" alt="Best time ever to get braces billboard").img__100
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/osp4.png" alt="DuckDuckGo billboard").img__100
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/osp5.jpg" alt="Lane Bryant #ImNoAngel campaign").img__100
  p
    span.italic S/O!{' '}
      a(href="https://www.facebook.com/copywritingwithamanda" target="_blank") Copy With Amanda
      |!{' '}where I read this quote.
  h2.under Support
  p If found this useful, you might like my!{' '}
    a(href="https://marketingexamples.com/newsletter") email list
    | . I share a new case study each week. Short, sweet, and practical!
  p
    span.italic — Harry