extends ../base

block content
  p Weekly raffle. Ship tickets with order. Group text the winner.
  p.list.list__top • Easy way to grow your SMS marketing list
  p.list • Incentivises weekly orders
  p.list.list__bottom • So!{' '}
    span.italic old school
    |!{' '}it's
    span.italic cool
  p All for the cost of a few free goodies.
  img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/n11/nm3.jpg" alt="DTC retention").img__100
  p
    span.italic — Harry