extends ../base

block content
  p Last week I started getting some interesting LinkedIn notifications.
  img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl17/nle1aa.png" alt="Reforge LinkedIn notifications").img__100
  p On a!{' '}
    span.italic micro
    |!{' '}level it’s a clever growth loop.
  img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl17/nle1bb.png" alt="Reforge LinkedIn notifications").img__100
  p On a!{' '}
    span.italc macro
    |!{' '}level it’s clever positioning.
  p Why are people proud to show off Reforge? Well, the language you use determines the box you're put in.
  p It's not a “online course”. It's “elite education”.
  img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl17/nle1ccc.png" alt="Reforge Growth Loop").img__100.img__caption
  p.caption “It isn't the whiskey they choose, it's the image” — David Ogilvy
  p
    span.italic — Harry