extends ../base

block content
  h2 Classic Content marketing
  p Growing an audience by giving away free content is one of the oldest tricks in the book. We all know how it works:
  p.list.list__top 1. Jane releases a free resource.
  p.list 2. In exchange she asks for your email address.
  p.list.list__bottom 3. And promotes her future products to you.
  p Whilst I'm a fan of this approach, it limits itself to&nbsp;
    span.bold first order benefits
    | . You give your email. You get the resource.&nbsp;
    span.bold The interaction ends
    | .
  h2 new age Content marketing
  p I came across a nice variant by coding teacher,&nbsp;
    a(href="https://twitter.com/js_tut" target="_blank") @js_tut
    | , where he manages to build a referral loop in:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/jstut.png" alt="JS Tut").img__90
  p To receive his eBook, you have to:
  p.list.list__top 1. Retweet his pinned post (promoting the book)
  p.list.list__bottom 2. Enter your email.
  p Not only does he grow his email list (first order benefit), he also sees his free eBook get shared all around twitter (second order benefit).
  h2 Viral Coefficient
  p Technically speaking, what this does is increase the&nbsp;
    a(href="https://en.wikipedia.org/wiki/K-factor_(marketing)") viral coefficient
    | &nbsp;of the eBook. The viral coefficient measures the number of&nbsp;
    span.bold new
    | &nbsp;users an&nbsp;
    span.bold existing
    | &nbsp;user generates and is calculated by:
  p.inwardSpeech number of shares * conversion per share = k (Viral Coefficient)
  p To continously grow organically through referrals a viral coefficient must be > 1.
  h2 Price Anchoring
  p Finally, there's real psychological power in stating: “Market value $34.99”. Imagine you visit the same web page but with that line removed. You might think:
  p.inwardSpeech Damn, I've got to retweet to get this free eBook
  p But in placing a “market value” on the book the script changes:
  p.inwardSpeech Nice, all I have to do is retweet to get an expensive eBook