extends ../base

block content
  p If I told you Coca-Cola's sales in Australia increased!{' '}
    a(href="https://en.wikipedia.org/wiki/Share_a_Coke" target="_blank") ~7% in 2011
    |!{' '}you'd probably guess they changed the taste or the price.
  p Nope. They simply replaced their logo with 150 of the most popular teenage names and encouraged people to “share a coke”.
  p.inwardSpeech “Perceived value can be just as satisfying as real value” — Rory Sutherland
  img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl6/nl2b.png" alt="Share a Coke").img__100
  p
    span.italic Thanks for reading — Harry