extends ../base

block content
  p
    a(href="https://veed.io" target="_blank") Veed
    | &nbsp;were sick and tired of not getting a reply to an email they wrote, so they decided to print out their message and attach it to a homing pigeon, like the good ol' Roman days.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/pigeon.jpg" alt="Veed - Send a Pigeon").img__75
  p Unsurprisingly Veed got a reply within a few hours.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/veed3.png" alt="Veed - John Lewis Reply").img__75
  h2 Power of signalling
  p You're also far more likely to get a thoughtful reply this way. To quote&nbsp;
    a(href="https://fs.blog/rory-sutherland/" target="_blank") Rory Sutherland:
  p.inwardSpeech We can’t help but assume the importance of a message is proportional to the cost of delivering it.
  p In other words, extra effort taken in delivery&nbsp;
    span.bold increases the perceived value
    | &nbsp;of the message:
  p.inwardSpeech Bloody hell, if they went to all this trouble it must be important.
  p It's much harder to shrug off this request with a simple, “Thanks, but we're too busy at the minute”.
  h2 More signalling examples
  p The problem with email is because the cost of delivery is negligible it's impossible to signal any seriousness. For any important message I often go with a hand written card. If you can be bothered to write and post a card you clearly give a shit.
  p Another example is the CEO of Patreon making a&nbsp;
    a(href="https://www.youtube.com/watch?v=VYBOPPoiRRY" target="_blank") YouTube video
    |&nbsp;to request a meeting with Casey Neistat. He could of probably tracked Casey's email down somehow, but then he'd just be one of the other thousand emails sitting in Casey's inbox. The upfront time and effort he put in&nbsp;
    span.bold signalled
    |&nbsp;that he meant business and Casey could hardly say no.
  h2 CONTENT MARKETING - 2ND ORDER BENEFITS
  p Back to Veed! Not only did they achieve their primary goal, they also benefitted from the content they generated off their pigeon stunt. They wrote a&nbsp;
    a(href="https://www.veed.io/blog/pigeon" target="_blank") blog
    | , made a&nbsp;
    a(href="https://www.youtube.com/watch?v=gP1kOBi9X7I" target="_blank") YouTube video
    | &nbsp;and most impressively launched&nbsp;
    a(href="https://www.veed.io/pigeon/?ref=producthunt" target="_blank") Pigeon Mail
    | &nbsp;on Product Hunt, all&nbsp;
    span.bold linking back
    | &nbsp;to their video editing product.
  p The story is similar with Patreons CEO. The video is effectively a free advertisment for his company which has now been viewed more than 2 million times.
  p Creating interesting content and side projects is one of the most foolproof tactics to attract a new audience and ultimately grow your business.
  p Once you start accounting for the 2nd and 3rd order benefits, you quickly realise just how underrated bold marketing is. For another example where this is the case &nbsp;
    a(href="https://marketingexamples.com/sales/ai-email" target="_blank") Ramp T Shirt's cold email campaign
    | &nbsp;is worth a look.