extends ../base

block content
  h2 The girl in the foyer
  p Let’s start with a story. Last month I was on the train going to Wembley to watch a football match. On jump a bunch of lads. It sounded like they worked for a marketing agency.
  p.inwardSpeech Did you hear about that 16-year-old in the office today, boys?
  p.inwardSpeech No, what happened?
  p.inwardSpeech So I get into work this morning. And there’s this young girl hovering in the foyer. She’s not talking to anyone, just sort of standing there looking a bit lost. I assumed she was someone’s kid or something so I walked past.
  p.inwardSpeech Anyway, 30 minutes later I pop out for a smoke and she’s still there, hovering. So I walk over to her and ask her if she needs a hand with anything. And now she’s looking really nervous, but she looks up at me and says, “I really like some of your companies marketing campaigns”. And then she starts listing all our campaigns off.
  p.inwardSpeech I start smiling and she starts to relax a bit. She tells me that she’s at school at the moment but in her spare time she’s reading marketing books and if there was any chance she could do some work experience in the summer.
  p.inwardSpeech “Fair play!” one of the lads' chimes in. “That takes balls” says another. “But we don’t offer any work experience”, says the third.
  p.inwardSpeech I know. But I talked to Cav and we’re going to make an exception!
  h2 Costly signalling theory
  p This is costly signalling theory in action.
  p That girl could have delivered the&nbsp;
    span.bold exact same message
    |&nbsp;(except more eloquently) in the form of an email. And yet, it would have got her nowhere. It's impossible to signal seriousness via email because the cost of delivery is so negligible.
  p Only in putting herself through the stomach-wrenching ordeal of walking into a big and scary office, and daring to ask for work experience face to face was she able to signal that&nbsp;
    span.bold she really cared
    | . It's a pretty safe bet that she's not going to arrive late and browse Facebook all day.
  p To quote&nbsp;
    a(href="https://twitter.com/rorysutherland" target="_blank") Rory Sutherland
    |:
  p.inwardSpeech The meaning and significance we attach to something is felt in direct proportion to the expense with which it is communicated
  p Essentially,&nbsp;
    span.bold costliness carries meaning
    | .
  p.list.list__top 1) The handwritten thank you card carries more meaning than a text.
  p.list 2) A university degree carries more meaning than a Udemy course.
  p.list.list__bottom 3) Asking someone out face to face carries more meaning than on Tinder.
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/patreon5.png" alt="Costly Signalling Theory Diagram").img__85
  p An awareness of this principle is valuable in understanding the psychology of marketing.
  h2 Some real world examples
  p You want to guarantee a reply to a sales lead? Print off your message and send it on the back of a carrier pigeon.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/pigeon.jpg" alt="Yeezy Dating Viral").img__60
  p You want to strike a business deal with Casey Neistat. Edit an awesome YouTube video and title it, “Dear Casey Neistat ...”
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/patreon1.jpg" alt="Yeezy Dating Viral").img__80
  p You want to get a job with Kanye West. Rent billboards worldwide saying&nbsp;
    a(href="https://www.nocsdegree.com/interviews-kanye-datingapp-creator-explains-learning-to-code-no-csdegree" target="_blank") “Hire me Kanye West”.
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/patreon2.jpg" alt="Yeezy Dating Viral").img__85
  p In every instance the&nbsp;
    span.bold extra effort taken increases the perceived value of the communication
    | .
  p.inwardSpeech Bloody hell, if they [sent a pigeon, made a video, hired a billboard] then it must be important.
  h2 The Costly signalling of Universities
  p Costly signals inflate the value of otherwise identical products or communication. The most stark example of this is&nbsp;
    span.bold the university system
    | .
  p How do you rebrand a $50 Udemy Course into a $50,000 Udemy course? Sprinkle on some&nbsp;
    span.bold costly signals
    |&nbsp;and call it a “degree”.
  p For example:
  p.list.list__top • Not accepting every candidate
  p.list • Building expensive buildings and calling them “theatres”
  p.list • Hanging up expensive paintings
  p.list.list__bottom • Throwing a big party where everyone wears fancy gowns
  p are all costly signals which artifically increase the&nbsp;
    span.bold perceived
    |&nbsp;value of the degree far beyond its&nbsp;
    span.bold real
    |&nbsp;value.
  h2 nod of appreciation
  p A lot of the ideas in this case study are taken from Rory Sutherland's book,&nbsp;
    a(href="https://www.amazon.co.uk/Alchemy-Surprising-Power-Ideas-Sense/dp/0753556502" target="_blank") Alchemy
    | . Would certainly recommend it.