extends ../base

block content
  p In three years looking at landing pages, I’ve never come across a sign-up field better at converting than&nbsp;
    a(href="https://www.notion.so/" target="_blank") Notions
    | . Let’s get into it.
  h2 Simple Sign Up
  p Notion doesn’t save passwords. It doesn’t ask for your first name, last name and favourite color. There’s no boxes to tick. The only thing required to make an account is an email address.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/notion1.png" alt="Notion Sign-Up Field").img__70
  p If it’s a Gmail account you’re transferred straight to Google O Auth. If not you verify via email. From there you’re in!
  p Compare Notion’s sign up to&nbsp;
    a(href="https://www.spotify.com/signup" target="_blank") Spotify
    | &nbsp;and&nbsp;
    a(href="https://www.dropbox.com/" target="_blank") Dropbox
    | . Bear in mind, the end goal is&nbsp;
    span.bold exactly the same
    | : to convert users to the free plan.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/notion2.png" alt="Dropbox and Spotify Sign-Up Field").img__100
  p It doesn’t take a genius to work out which one converts better. Now, you could argue that both Spotify and Dropbox do have Google and Facebook O Auth respectively, so you don’t have to go through all the steps.
  h2 manoeuvrability
  p Whilst that’s true, it overlooks the main advantage of Notion’s sign up: It’s&nbsp;
    span.bold small size
    | &nbsp;and&nbsp;
    span.bold manoeuvrability
    | . You can drop it on&nbsp;
    span.bold any section
    | , on&nbsp;
    span.bold any page&nbsp;
    | and it blends in nicely.
  p And Notion certainly doesn't miss an opportunity. On their&nbsp;
    a(href="https://www.notion.so/evernote" target="_blank") Evernote comparison page
    | &nbsp;they slip their sign up box in a remarklable&nbsp;
    span.bold 5 times!
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/notion4.png" alt="Notion's Evernote comparison page").img__90
  p &nbsp;Once the page scrolls below a certain point, they also tweak their header navigation bar to include the sign up, meaning at any moment you’re only an email and 1 click away from creating an account.
  video(src="https://s3.amazonaws.com/harrydry/gdmarketing/notionHeader.mp4" class="img__90" playsinline="playsinline" preload="auto" controls="controls")
  h2 Get Info after Sign Up
  p Notion’s two second sign up does not mean that they are passing up an opportunity to get information about their users. It just means they are waiting until after you’ve already made an account (the point of no return).
  p Once your accounts made Notion asks you to agree to the T&C’s, for your full name, as well as answers to a series of other questions.
  p This is conversion 101:
  p.list.list__top 1. Signup => Frictionless
  p.list.list__bottom 2. Onboarding => Leisurely
  p Yet the majority of companies still bloat their first time sign up forms with unnecessary fields and tick boxes.
  h2 Heuristic
  p The heuristic guiding this UX:&nbsp;
    span.italic via negativa
    |&nbsp;(addition by subtraction). Instead of asking: “What can we add?” you ask “What can we remove?
  p The more fields the more unintended consequences you create: For example the reCAPTCHA fails, or the date picker breaks on the latest iOS update. As Nassim Taleb says:
  p.inwardSpeech Omission does not come with side effects
  p Big corps tend to be completely oblivious to this principle. You get a bunch of suits in a meeting room and a ONE field sign up quickly becomes a TEN field sign up.


