extends ../base

block content
  p I love Burger King's creativity.
  p.list.list__top • Sponsors Stevenage FC
  p.list • To get their logo in FIFA 20
  p.list • Challenges gamers to play as Stevenage, score goals, and share on Twitter
  p.list • Stevenage most used team in “career mode”
  p.list.list__bottom • Shirts sell out in real life
  video(src="https://s3.amazonaws.com/harrydry/gdmarketing/steve.mp4" class="img__100" playsinline="playsinline" poster="https://s3.amazonaws.com/harrydry/gdmarketing/stevePoster.jpg" controls)