extends ../base

block content
  p I don't know.
  p.inwardSpeech
    span.italic “Marketing is just 9-letter jargon for test”
  img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl20/n5.png" alt="Calvin Klein Marketing Strategy").img__100.img__caption
  p.caption h/t (the indomitable)!{' '}
    a(href="https://twitter.com/dannypostmaa/status/1645380711711662080" target="_blank") Danny Postma
  p
    span.italic — Harry