extends ../base

block content
  p Twitter followers ...
  h2.under 1) Pick the right tweet
  h2.under 2) Build social proof
  p The number one mistake people make is promoting tweets which have no likes or retweets. Humans are simple. We scroll by tweets with 0 likes. We stop to read a tweet with 400 likes.
  p So before I target!{' '}
    span.bold followers
    |!{' '}I build!{' '}
    span.bold social proof
    | . My rule of thumb is 400 likes.
  p When your building engagement you want to target a wide audience. No country restrictions.
  p I set the budget to $20 / day This usually only takes about.
  h2.under 3) Target followers
  p Now everything ready. I turn off the engagement ads. And create a new ad campaign targetting followers.
  p This is also where you cast your net in. I remove keywrods and exclusively target followe look
  p A great example is
  p 100 followers who
