extends ../base

block content
  p Damon runs Testimonial.to. He noticed people repeatedly botched the domain so he registered the two primary offenders (!{' '}
    span.italic .io
    |!{' '}and extra!{' '} 
    span.italic s
    | )
  p 18 months later he's $100,527 better off.
  img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl26a/nc4.png" alt="Testimonial to typo domains").img__100
  p
    span.italic — Harry