extends ../base

block content
  p.list.list__top • Less polished, more authentic
  p.list • Can test ten in an afternoon
  p.list.list__bottom • $50K return on a “Post-it”
  img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl21/nw4.jpg" alt="Make Ugly Ads").img__100
  p Cc: “Ugly Ad” forefounder!{' '}
    a(href="https://www.twitter.com/binghott" target="_blank") Barry Hott
    |!{' '} &!{' '}
    a(href="https://www.twitter.com/ashvinmelwani" target="_blank") Ash
    |!{' '}for the numbers.
  p
    span.italic — Harry