extends ../base

block content
  p Easy way to increase AOV?
  p Gamify your upsell.
  p.inwardSpeech “£10 more for a free crew neck? Go on then!”
  img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl25c/td2a.png" alt="True Classic Upsell").img__100.img__caption
  p.caption h/t!{' '}
    a(href="https://www.instagram.com/p/CuSENxEt713/" target="_blank") Abhi Shah
  p
    span.italic — Harry