extends ../base

block content
  p Write the title!{' '}
    span.italic THEN
    |!{' '}make the content.
  img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl10/nl2d.png" alt="Viral content marketing").img__100
  p
    span.italic — Harry