extends ../base

block content
  p So. Barbie comes out and Greta Gerwig becomes one of the hottest names on the planet.
  p Lucky for Vogue, they interviewed her 3 years earlier. Tune in for a masterclass in repurposing content.
  img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl24a/no1.jpg" alt="Vogue Content Repurposing").img__100
  p
    span.italic — Harry