extends ../base

block content
  p 99% of pricing tiers ascend left to right:!{' '}
    span.italic Cheap. Middle. Expensive.
  p Wine List is the 1%. A mistake? Nope.
  p Founder,!{' '}
    a(href="https://twitter.com/JoshLachkovic") Josh Lachkovic
    | , had a theory:
  p.inwardSpeech We’re anchored to the first number we see. And we scan left to right. So a more expensive left price makes your right price appear cheaper.
  p In layman's terms, £99 feels cheaper when you see £189 first.
  p He ran A/B tests and (to my surprise) found a statistically significant increase in overall conversions.
  img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl18/c1e.png" alt="Wine List's Counterintuitive Pricing").img__100
  p
    span.italic — Harry