extends ../base

block content
  p January 2003. Innocent co-founder Adam has an idea.
  p.inwardSpeech “What if we ask customers to knit hats for our smoothies?”
  p Everyone laughs. Twenty years later…
  p.list.list__top • 11 million hats knitted
  p.list • £3 million raised for Age UK (to keep older folk warm)
  p.list.list__bottom • Too much PR to count
  p.inwardSpeech “It may well be that creativity is the last unfair advantage we're legally allowed to take over our competitors.” — Bill Bernbach
  img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl17/nle1x.png" alt="Innocent's Smoothie Little Hats").img__100
  p
    span.italic — Harry