extends ../base

block content
  p
    span.italic
      a(href="http://zendeskalternative.com/" target="_blank") Zendesk Alternative
    |!{' '}— A tongue-in-cheek five-piece set up by Zendesk to prevent competitors ranking for their brand name.
  img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl18/z2.png" alt="Zendesk Alternative").img__100
  p
    span.italic — Harry