extends ../base

block content
  p The same interview reposted four years later.
  p Don't redirect people. Hook them as they scroll.
  p Or to quote!{' '}
    a(href="https://x.com/amandanat" target="_blank") Amanda Natividad
    | , “zero-click your content”.
  img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl30a/x5.png" href="https://twitter.com/thepatwalls/status/1770841472234873276" alt="Starter Story Content Marketing").img__100
  p — Harry