.harryGIF
  .harryGIF__inner
    .harryGIF__inner-logo-down!=icon("gif-logome")
    .harryGIF__inner-p Yo I'm Harry! I built this cause I'm the best marketing writer of the 21st century and I got to get the word out somehow.
    a(href="/").harryGIF__inner-button Read the marketing
