doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='/dist/bundle.v2.css')
    link(rel='icon', type='image/png', sizes='32x32', href='https://s3.amazonaws.com/harrydry/gdmarketing/meFav.png')
    meta(name='twitter:site', content='@harrydry')
    meta(property='og:site_name', content='Marketing Examples')
    meta(name='twitter:card', content='summary_large_image')
    meta(property='og:image:height', content='538')
    meta(property='og:image:width', content='1028')
    meta(property='og:type', content='website')
    script(src='https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js')
    script(async='' src='https://js.sparkloop.app/team_71288e5960.js' data-sparkloop='')
    block head
      title Copywriting Examples - The world's best copy. In one place.
      meta(property='og:title', content='Copywriting Examples - The world\'s best copy. In one place.')
      meta(name='twitter:title', content='Copywriting Examples - The world\'s best copy. In one place.')
      meta(property='og:url', content='https://marketingexamples.com/inspiration')
      link(rel='canonical', href='https://marketingexamples.com/inspiration')
      meta(name='description', content=`The only swipe file you’ll ever need. 330+ handpicked examples. Broken-down.`)
      meta(property='og:description', content=`The only swipe file you’ll ever need. 330+ handpicked examples. Broken-down.`)
      meta(name='twitter:description', content=`The only swipe file you’ll ever need. 330+ handpicked examples. Broken-down.`)
      meta(property='og:image', content='https://ik.imagekit.io/o08ysq9vx/cebits/cecard.jpg')
      meta(name='twitter:image', content='https://ik.imagekit.io/o08ysq9vx/cebits/cecard.jpg')
    body
      noscript
        iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-KFP5QFB' height='0' width='0' style='display:none;visibility:hidden')
      block content
  block scripts
    script(src="/dist/bundle3.js")