extends base

block content
  .iosOverflow
  .zzy
    h1 Purchase your new kit
    //- script(async='' src='https://js.stripe.com/v3/buy-button.js')
    //- stripe-buy-button(buy-button-id="buy_btn_1OHDzMDCQDrt6ruzhgbSMQCv" publishable-key="pk_live_51MpK4GDCQDrt6ruzcRNlkObojrh6m949NDwKuHKT8mpBh2MGPaG0SVqpD6mXQBSlmB5wV3UyJavgUpNwS8lP2plF00OokCu7lY")
    a(href="/createcheckout" class="zzy__sexyButton")
      .zzy__sexyButton-title Enroll now
      .zzy__sexyButton-sub 100% satisfaction money-back guarantee


