.backButton
  position: absolute
  top: 3.6rem
  left: 4rem
  // p 
  //   font-size: 1.6rem
  //   line-height: 1.7
  //   a
  //     border-bottom: 1px solid

.roast
  justify-content: center
  align-items: center
  max-width: 600px
  margin: 4rem auto
  p 
    font-size: 1.6rem
    margin: 1.6rem auto
    line-height: 1.7
    a
      border-bottom: 1px solid
  h1
    font-size: 3.1rem
    margin: 1.8rem auto
    line-height: 1.7
    font-weight: 700 
  h2 
    font-size: 2.1rem
    margin: 1.8rem auto
    line-height: 1.7
    font-weight: 600
  img
    max-width: 100%
    margin: 1.6rem auto
  &__400
    max-width: 40rem !important
  &__50
    max-width: 5rem !important
  .asterix
    margin: 1.6rem auto !important
    text-align: center

.bullet
  margin: 0 1rem !important
  &__topb
    margin-top: 0.4rem !important
  &__bottomb
    margin-bottom: 0.4rem !important

.bold
  font-weight: 500

.italic
  font-style: italic
