mixin menu
  .menu
    .menu__inner
      a.menu__logo(href="/")!=icon("meLogoBig")
      a.menu__logoSmall(href="/")!=icon("gmLogoSmall")
      .menu__inner-right
        a.menu__inner-right-text(href="/") More case studies
        a.menu__twitter(href="https://www.linkedin.com/in/harrydry/" target="_blank")!=icon("linkedin")
        a.menu__twitter(href="https://twitter.com/GoodMarketingHQ")!=icon("twitter")

