mixin harry()
   a(href="https://twitter.com/harrydry" target="_blank").harry
    img.harry__img(src="https://harrydry.s3.amazonaws.com/gdmarketing/harry.jpg", alt="Harry Dry")
    .harry__text by Harry Dry