mixin filter(fFilter, bFilter, activeFilters=[], num)
  - var active = activeFilters.indexOf(bFilter) > -1 ? "filters__active" : "";
  a.filters__spec(href=`/${bFilter}` data-slug=`${bFilter}` data-term=`${bFilter}` data-num=`${num}` class=`${active} cegi-shade${num}`)=fFilter

mixin mobfilters(activeFilters, titlenum)
  .filterContainer.cegm__bottom(class=`cegfilters__active${titlenum}`)
    .cegm__bottom-inner
      //- .cegm__bottom-ns!=icon("rb1")
      //- img(src="https://ik.imagekit.io/o08ysq9vx/mebits/qa1.svg", alt="" class="cegm__bottom-ns")
      img(src="https://ik.imagekit.io/o08ysq9vx/mebits/jf1.svg", alt="" class="cegm__bottom-ns")
      +filter("Content", "content", activeFilters, "1")
      +filter("SEO", "seo", activeFilters, "2")
      +filter("Sales", "sales", activeFilters, "3")
      +filter("Social", "social", activeFilters, "4")
      +filter("Ads", "ads", activeFilters, "5")
      //- +filter("Affiliate", "affiliate", activeFilters, "6")
    .cegm__bottom-sep
    .cegm__bottom-inner
      img(src="https://ik.imagekit.io/o08ysq9vx/mebits/jf2.svg", alt="" class="cegm__bottom-ns")
      +filter("Copywriting", "copywriting", activeFilters, "6")
      +filter("Landing Page", "landing-page", activeFilters, "7")
    .cegm__bottom-sep
    .cegm__bottom-inner
      img(src="https://ik.imagekit.io/o08ysq9vx/mebits/jf3.svg", alt="" class="cegm__bottom-ns")
      +filter("Retention", "retention", activeFilters, "8")
      +filter("Brand", "brand", activeFilters, "9")
      +filter("Referral", "referral", activeFilters, "10")
      +filter("Creative", "creative", activeFilters, "11")