mixin ph()
  a.ph(href="https://www.producthunt.com/posts/my-twitter-inspiration-handbook" target="_blank")
    .ph__sticker.ph__sticker__left 🎉
    .ph__text On Product Hunt today ;)!{' '}
      span Show some love
    .ph__sticker.ph__sticker__right 🎉

mixin phBase1()
  a.ph(href="https://www.producthunt.com/posts/copywriting-examples" target="_blank")
    img(src="https://ik.imagekit.io/o08ysq9vx/mebits/phbanner.svg", alt="Logo" class="")
    img(src="https://ik.imagekit.io/o08ysq9vx/mebits/phbanner.svg", alt="Logo" class="")
    img(src="https://ik.imagekit.io/o08ysq9vx/mebits/phbanner.svg", alt="Logo" class="")
    img(src="https://ik.imagekit.io/o08ysq9vx/mebits/phbanner.svg", alt="Logo" class="ph__mob")
    img(src="https://ik.imagekit.io/o08ysq9vx/mebits/phbanner.svg", alt="Logo" class="ph__mob")
    img(src="https://ik.imagekit.io/o08ysq9vx/mebits/phbanner.svg", alt="Logo" class="ph__mob")
    img(src="https://ik.imagekit.io/o08ysq9vx/mebits/phbanner.svg", alt="Logo" class="ph__mob")

mixin phBase()
  a.ph(href="/inspiration")
    img(src="https://ik.imagekit.io/o08ysq9vx/mebits/ceon.svg", alt="Logo" class="")
    img(src="https://ik.imagekit.io/o08ysq9vx/mebits/ceon.svg", alt="Logo" class="")
    img(src="https://ik.imagekit.io/o08ysq9vx/mebits/ceon.svg", alt="Logo" class="")
    img(src="https://ik.imagekit.io/o08ysq9vx/mebits/ceon.svg", alt="Logo" class="ph__mob")
    img(src="https://ik.imagekit.io/o08ysq9vx/mebits/ceon.svg", alt="Logo" class="ph__mob")
    img(src="https://ik.imagekit.io/o08ysq9vx/mebits/ceon.svg", alt="Logo" class="ph__mob")
    img(src="https://ik.imagekit.io/o08ysq9vx/mebits/ceon.svg", alt="Logo" class="ph__mob")