doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='/dist/bundle.v4.css')
    link(rel='icon', type='image/png', sizes='32x32', href='https://s3.amazonaws.com/harrydry/gdmarketing/meFav.png')
    meta(name='twitter:site', content='@harrydry')
    meta(property='og:site_name', content='Marketing Examples')
    meta(name='twitter:card', content='summary_large_image')
    meta(property='og:image:height', content='630')
    meta(property='og:image:width', content='1200')
    meta(property='og:type', content='website')
    script(async='' src='https://js.sparkloop.app/team_71288e5960.js' data-sparkloop='')
    block head
      title Marketing Examples
      meta(property='og:title', content='Marketing Examples - 150+ short, sweet, practical examples')
      meta(name='twitter:title', content='Marketing Examples - 150+ short, sweet, practical examples')
      meta(property='og:url', content='https://marketingexamples.com')
      link(rel='canonical', href='https://marketingexamples.com')
      meta(name='description', content=`A gallery of real world marketing examples from successful companies. Want to perfect your cold email, boost referrals or improve SEO? Browse the case studies or filter by category. See something you like. And get inspired. It's like Dribbble, but for marketers.`)
      meta(property='og:description', content=`A gallery of real world marketing examples from successful companies. Want to perfect your cold email, boost referrals or improve SEO? Browse the case studies or filter by category. See something you like. And get inspired. It's like Dribbble, but for marketers.`)
      meta(name='twitter:description', content=`A gallery of real world marketing examples from successful companies. Want to perfect your cold email, boost referrals or improve SEO? Browse the case studies or filter by category. See something you like. And get inspired. It's like Dribbble, but for marketers.`)
      meta(property='og:image', content='https://s3.amazonaws.com/harrydry/gdmarketing/cards/main.jpg')
      meta(name='twitter:image', content='https://s3.amazonaws.com/harrydry/gdmarketing/cards/main.jpg')
      block content
  block scripts
    script(src="/dist/bundle3.js")