extends base

include ./mixins/home
include ./mixins/mail
include ./mixins/cardPopup
include ./mixins/harry

block content
  .iosOverflow.home__outer
    .home__outer-side.home__outer-side-left
      #stars.stars-left
      #stars2.stars2-left
    +cardPopup()
    +home(cards, activeFilters)
    +mail(subscribePage)
    .home__outer-side.fed__outer-side-right
      #stars.stars-right
      #stars2.stars2-right
    //- +harry()