include ../home/mixins/mail

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='/dist/bundle.v1.css')
    link(rel='icon', type='image/png', sizes='32x32', href='https://s3.amazonaws.com/harrydry/gdmarketing/meFav.png')
    meta(name='twitter:site', content='@harrydry')
    meta(property='og:site_name', content='Startup Gifs')
    meta(name='twitter:card', content='summary_large_image')
    meta(property='og:image:height', content='630')
    meta(property='og:image:width', content='1200')
    meta(property='og:type', content='website')
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-91909305-10')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-91909305-10');
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-KFP5QFB');
    block head
      title Startup Gifs
      meta(property='og:title', content='Startup Gifs')
      meta(name='twitter:title', content='Startup Gifs')
      meta(property='og:url', content='https://marketingexamples.com/gifs')
      link(rel='canonical', href='https://marketingexamples.com/gifs')
      meta(name='description', content=`A collection of startup related gifs to make you laugh and share on Slack`)
      meta(property='og:description', content=`A collection of startup related gifs to make you laugh and share on Slack`)
      meta(name='twitter:description', content=`A collection of startup related gifs to make you laugh and share on Slack`)
      meta(property='og:image', content='https://harrydry.s3.amazonaws.com/gdmarketing/cards/sgfs.jpg')
      meta(name='twitter:image', content='https://harrydry.s3.amazonaws.com/gdmarketing/cards/sgfs.jpg')
    body
      noscript
        iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-KFP5QFB' height='0' width='0' style='display:none;visibility:hidden')
      block content
  block scripts
    script(src="/dist/bundle1.js")