doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='/dist/bundle.v3.css')
    link(rel='icon', type='image/png', sizes='32x32', href='https://s3.amazonaws.com/harrydry/gdmarketing/meFav.png')
    meta(name='twitter:site', content='@harrydry')
    meta(property='og:site_name', content='Marketing Examples')
    meta(name='twitter:card', content='summary_large_image')
    meta(property='og:image:height', content='630')
    meta(property='og:image:width', content='1200')
    meta(property='og:type', content='website')
    script(async='' src='https://js.sparkloop.app/team_71288e5960.js' data-sparkloop='')
    block head
      title The Marketing Examples Newsletter
      meta(property='og:title', content='The Marketing Examples Newsletter')
      meta(name='twitter:title', content='The Marketing Examples Newsletter')
      meta(property='og:url', content='https://marketingexamples.com/newsletter')
      link(rel='canonical', href='https://marketingexamples.com/newsletter')
      meta(name='description', content=`Hey, I'm Harry. Every Monday I share: 3 short examples, 2 copywriting tips, 1 favourite tweet. Marketers voted it the “#1 marketing newsletter”. 130k people enjoy it. Try it out.”`)
      meta(property='og:description', content=`Hey, I'm Harry. Every Monday I share: 3 short examples, 2 copywriting tips, 1 favourite tweet. Marketers voted it the “#1 marketing newsletter”. 130k people enjoy it. Try it out.`)
      meta(name='twitter:description', content=`Hey, I'm Harry. Every Monday I share: 3 short examples, 2 copywriting tips, 1 favourite tweet. Marketers voted it the “#1 marketing newsletter”. 130k people enjoy it. Try it out”`)
      meta(property='og:image', content='https://ik.imagekit.io/o08ysq9vx/mebits/nlog.png')
      meta(name='twitter:image', content='https://ik.imagekit.io/o08ysq9vx/mebits/nlog.png')
    body
      block content
  block scripts
    script(src="/dist/bundle3.js")