doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='/dist/bundle.v1.css')
    link(rel='icon', type='image/png', sizes='32x32', href='https://s3.amazonaws.com/harrydry/gdmarketing/meFav.png')
    meta(name='twitter:site', content='@goodMarketingHq')
    meta(property='og:site_name', content='Marketing Examples')
    meta(name='twitter:card', content='summary_large_image')
    meta(property='og:image:height', content='780')
    meta(property='og:image:width', content='1500')
    meta(property='og:type', content='website')
    script(src='https://player.vimeo.com/api/player.js')
    block head
      title Learn Copywriting | Harry Dry
      meta(property='og:title', content='Learn Copywriting — Harry Dry')
      meta(name='twitter:title', content='Learn Copywriting — Harry Dry')
      meta(property='og:url', content='https://marketingexamples.com/course')
      link(rel='canonical', href='https://marketingexamples.com/course')
      meta(name='description', content=`Autumn 2022`)
      meta(property='og:description', content=`Autumn 2022`)
      meta(name='twitter:description', content=`Autumn 2022`)
      meta(property='og:image', content='https://ik.imagekit.io/o08ysq9vx/lc/cv3.png')
      meta(name='twitter:image', content='https://ik.imagekit.io/o08ysq9vx/lc/cv4a.png')
    body.lcbg
      block content
  block scripts
    script(src="/dist/bundle1.js")