mixin bar(completedVids, isthebarStuck)
  .zzz__bar
    .zzz__bar-progress.zzz__bar-progress-width(data-completed-vids=completedVids, data-bar-stuck=isthebarStuck)
    .zzz__bar-dashed
    img(src="https://ik.imagekit.io/o08ysq9vx/gpt99/yoda4.png").zzz__bar-writer
    img(src="https://ik.imagekit.io/o08ysq9vx/gpt99/flag2.png").zzz__bar-flag