mixin topmenu()
  .zzz__menu
    .zzz__menu-search
      .zzz__menu-search-bar
        img(src="https://ik.imagekit.io/o08ysq9vx/gpt99/zsearch4.svg", alt="")
        input(type="text" placeholder="JUMP AROUND")
      .zzz__menu-search-results
    .zzz__menu-tabs
      a(href="") INSPIRATION
      a(href="") FEEDBACK