p
  span.italic Start here.
p Adjectives are okay. Just *ideas* don't start with them.
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl31a/mm2.jpg" alt="Vogue cover shot on iPhone 7").img__100
p
  span.italic — Harry