p The trick to writing any sales email is that you&nbsp;
  span.bold don't want it to read like a sales email.
  | &nbsp;This one's a great example.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/andco2.png" alt="AndCo Cold Email").img__90
h2 Ask for Advice
p There's few better ways to engage someone than&nbsp;
  span.bold to ask them for advice.
  | &nbsp;People love giving advice. It's a chance to show off their knowledge.
p Once they're disarmed you&nbsp;
  span.bold then
  | &nbsp;can break into “the pitch”. The biggest mistake people make is starting with “the pitch” straight out the gate. People mentally tune out and the email ends up in the trash can.
p What's clever about “advice emails” is that you are still indirectly selling your product, the whole thing is just much subtler than in a classic “sales email”. In fact, in some cases, I bet the indirect “advice approach” actually drives&nbsp;
  span.bold more sales
  | .
p This style of email saw an 65% click through rate and 55% of recipients replied.&nbsp;
  a(href="https://andco.life" target="_blank") AndCo
  | &nbsp;got a tonne of valuable information on the freelancer market and a load of constructive feedback&nbsp;
  span.bold from their target audience
  |&nbsp;regarding how they could improve their product.
h2 Personalisation
p It's worth mentioning the lovely personalised touch to close. Your cold emails should never be purely extractative. It's always worth a 30 second glance at someone's website, or Twitter page, to see if there's a point of connection.
p Taking an interest in someone else's world goes a long way.
p
  a(href="https://marketingexamples.com/sales/personalise" target="_blank") This email
  | &nbsp; from Beamery is a great example of just how quick and easy personalisation can be.

.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/sales/advice-email` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/sales/advice-email&via=GoodMarketingHQ%20&text=${encodeURI("Try writing “advice emails” instead of sales emails")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/sales/advice-email` target="_blank")!=icon("linkedin")

