p There’s ONE way to buy Athletic Greens.
p You go on their homepage, you buy the welcome kit. Free shaker, free scooper, free delivery. Everything you need. One button to press. Idiot proof.
p But options are harmless, right? You'd rather a choice.
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl27a/rf5a.png" alt="Athletic Greens Marketing").img__100
p Let me remind you of Trout & Reis's first immutable law of branding.
p.inwardSpeech “The power of your brand is inversely proportional to its scope.”
p Imagine AG1 mango. Or strawberry kiwi. Different sizes. Stick packs. “Let's make a bar”. Now it's just another nutrition company.
p But when Huberman et al. say “Drink AG1” it sticks. Don't make me think.
p
  span.italic Thanks for reading — Harry
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/brand/ag1` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/brand/ag1&via=GoodMarketingHQ%20&text=${encodeURI("")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/brand/ag1` target="_blank")!=icon("linkedin")
