p Don't complicate marketing.
p.inwardSpeech “Do something. If it works, do more of it. If it doesn't, do something else.” — Franklin D. Roosevelt
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/n11/nm1.png" alt="Reddit AMA for marketing").img__80
p
  span.italic — Harry
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/social/ama` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/social/ama&via=GoodMarketingHQ%20&text=${encodeURI("4 years. 4 AMA's. 1M views.")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/social/ama` target="_blank")!=icon("linkedin")