p Well, it was a mistake!
p In 1870 two sons took over the business and decided to rebrand for an upcoming competition.
p One son redesigned the bottle, the other the label. Neither consulted the other, they got a label too big for the bottle.
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl16/nl6c.png" alt="Angostura Bitters Marketing").img__100
p 150 years later Angostura's oversized label is in every bar in the world.
p.inwardSpeech “The opposite of a good idea can also be a good idea. It doesn’t pay to be logical if everyone else is being logical.” — Rory Sutherland
p
  span.italic — Harry
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/creative/angostura` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/creative/angostura&via=GoodMarketingHQ%20&text=${encodeURI("Why is the Angostura bitters label too big?")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/creative/angostura` target="_blank")!=icon("linkedin")