p.list.list__top • Guy on Tinder insults a woman's ASOS dress.
p.list • ASOS update their site making her the new model.
p.list.list__bottom • Story goes completely viral. 80+ media placements.
p Delight customers. Embrace karma.
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl6/nl3a.jpg" alt="ASOS Tinder Model Dress").img__100
p
  span.italic Thanks for reading — Harry
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/brand/asos` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/brand/asos&via=GoodMarketingHQ%20&text=${encodeURI("ASOS's pink dress")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/brand/asos` target="_blank")!=icon("linkedin")