p Fifty small-budget campaigns testing thumbnails for future podcasts. Whichever one has highest CTR gets picked. Clever.
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl28a/gn5.png" alt="Steven Bartlett's Facebook ad library").img__100
p
  span.italic — Harry