p Yes. You did read that right.
p 
  span.italic The offer? A 50% discount.
p Something we've seen one million times before, except this time, in the palms of a copywriter with acute awareness of human psychology:
p.inwardSpeech “The first five people (
  span.ns3.italic scarcity
  | ) to click this button (
  span.ns1.italic labour illusion
  | ) 500 times (
  span.ns4.italic ridiculousness 
  | ) win 50% off (
  span.ns2.italic gamification
  | )”
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl26a/nc3.png" alt="Feastables Email").img__100
p
  span.italic — Harry
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/sales/feastables` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/sales/feastables&via=GoodMarketingHQ%20&text=${encodeURI("")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/sales/feastables` target="_blank")!=icon("linkedin")