p Nothing to add.
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/n11/nm2.png" alt="Founder Brand").img__80
p
  span.italic — Harry
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/social/founder-brand` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/social/founder-brand&via=GoodMarketingHQ%20&text=${encodeURI("Seven ways to build your “founder brand”")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/social/founder-brand` target="_blank")!=icon("linkedin")