p Most new product launches look something like this.
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl29a/be2.png" alt="Generic product launches").img__100
p Innocent's look like this.
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl29a/be2a.png" href="https://twitter.com/innocent/status/1118774915254165504" alt="Innocent Bolt from the Blue").img__100
p.inwardSpeech “You have to entertain to educate because the other way around doesn’t work” — <span class="italic">Walt Disney</span>