p
  a(href="https://www.thomascook.com/" target="_blank") Thomas Cook
  |&nbsp;was a travel company, who provide package holidays to hundreds of destinations around the world. This article gives a step by step breakdown of how they uncovered a huge SEO opportunity.
h2 Keyword Research
p The first step in any SEO journey is&nbsp;
  span.bold keyword research
  | . Put yourself in the shoes of your customer and think about the sort of things they might type into Google.
p The simpler the better. Start with the most basic search term you can think of.
p For example,&nbsp;
  a(href="https://www.google.com/search?q=tenerife" target="_blank") Tenerife
  |&nbsp;is one of Thomas Cook’s most popular holiday destinations, so let's start with that keyword.
p Now, we’re not actively trying to rank here, we're just trying to get an idea of what sort of content might work. And once you start sniffing around Google will&nbsp;
  span.bold give away more clues
  |&nbsp;than a Scooby-Doo villain!
p Firstly, let's have a look at what Google suggests in the dropdown:
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/tener1.png" alt="Tenerife Google Dropdown").img__75
p And then the related searches:
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/tener2.png" alt="Tenerife Google Dropdown").img__65
p This gives us a list of potential ideas to work with:
p.list.list__top 1. A guide of the top&nbsp;
  span.bold things to do
  |&nbsp;in Tenerife
p.list 2. A blog about the best&nbsp;
  span.bold beaches
  |&nbsp;in Tenerife
p.list.list__bottom 3. A page about&nbsp;
  span.bold the weather
  |&nbsp;in Tenerife
//- p *It’s important to have awareness of your own&nbsp;
//-   a(href="https://help.ahrefs.com/site-explorer/terminology/what-is-ahrefs-domain-rating") Domain Rating
//-   | . Thomas Cook can justify going after this type of content because their domain carries weight. But a site with less domain authority is better off targeting even longer tail keywords.
p Now, it looks like the majority of Thomas Cook’s competitors are drawn to the first article.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/tener3a.png" alt="asdas").img__100
p But I actually think the page about&nbsp;
  span.bold the weather
  |&nbsp;might offer more value. Let’s explore!
p As great as guides and blogs are at ranking for a targeted keyword, they take a lot of manual work to put together. In contrast, leveraging an API, one weather template page could be duplicated across&nbsp;
  span.bold every Thomas Cook destination
  | . It presents a unique opportunity to rank for hundreds of different keywords in one fell swoop.
h2 Or not
//- p To quote Alfred Korzybski, however,
//- p.inwardSpeech The map is not the territory
//- p and in reality ranking well for “Tenerife weather” looks like an uphill battle.
p In reality, however, getting any significant organic traffic from “Tenerife weather” is doubtful.
p The page is dominated by&nbsp;
  a(href="https://weather.com/en-GB/" target="_blank") weather.com's
  | &nbsp;huge box. And the results beneath are the BBC and The Met Office which are going to be pretty impossible to displace.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/tener3.png" alt="Tenerife Google Dropdown").img__85
h2 Could we be less ambitious
p In my own head I'm now thinking:
p.inwardSpeech Ok. “Tenerife weather” might be too ambitious. But is their any longer tail alternatives we could try ...
p As always my first point of call is Google. What does Google suggest in the dropdown:
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/tener4.png" alt="Tenerife Google Dropdown").img__75
p And what do the related searches say:
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/tener5.png" alt="Tenerife Google Dropdown").img__70
p This definately feels like a Eureka moment. Instead of just&nbsp;
  span.bold one page
  |&nbsp;for “Tenerife weather”, what about&nbsp;
  span.bold twelve pages
  |, displaying weather info for each month of the year.
p A confirmatory check on&nbsp;
  a(href="https://ahrefs.com" target="_blank") Ahrefs
  |&nbsp;shows very healthy search volume with a low keyword difficulty score. The dream!
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/tener6.png" alt="Tenerife Google Dropdown").img__70
h2 Thomas Cook
p And that’s exactly what Thomas Cook created.
p
  span.bold Thousands of weather pages
  |. One for each month of the year. One for each holiday destination. All accompanied by the perfectly placed call to action reminding customers to book their holiday.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/tener7.jpg" alt="Tenerife Google Dropdown").img__100
h2 Does it work?
p
  span.bold One million percent
  | . Thomas Cook has 3,744 different weather pages in total pulling in nearly 500,000 organic traffic&nbsp;
  span.bold every month
  | .
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/tener20.png" alt="Tenerife Google Dropdown").img__70
p Now, homing in on just Tenerife weather:
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/tener21.png" alt="Tenerife Google Dropdown").img__100
p Interestingly, the page pulling in most traffic is the main weather page. The huge traffic volume more than compensating it's low page rank. This main weather page, however, does only account for&nbsp;
  span.bold 25%
  |&nbsp;of total traffic showing just how valuable the supporting monthly pages are.
p You might also be wondering why there are 67 weather pages just for Tenerife. Well, Thomas Cook don't miss a trick. They also have one page for every month of the year for&nbsp;
  span.bold towns within Tenerife
  | . For example:
p.list.list__top
  a(href="https://www.thomascook.com/holidays/weather/spain/canary-islands/tenerife/los-cristianos/february/" target="_blank") Los Cristianos - Febuary
p.list.list__bottom
  a(href="https://www.thomascook.com/holidays/weather/spain/canary-islands/tenerife/costa-adeje/july/" target="_blank") Costa Adeje - July
p This is great to hoover up traffic for the longer tail keywords.
h2 In summary
p We started out typing Tenerife into Google, followed the trail of breadcrumbs, and ended up creating an army of weather pages mopping up some mega organic traffic.
p This is textbook SEO marketing:
p.list.list__top 1. Find out what your customers search for
p.list 2. Create pages which rank for those searches
p.list.list__bottom 3. Once on site, sell to them
h2 And finally
p To quote&nbsp;
  a(href="https://detailed.com/" target="_blank") Glen Allsop
  |&nbsp;top quality keyword research is
p.inwardSpeech finding the relevant search terms that your competitors have missed
p And every single one of Thomas Cook’s competitors has missed this golden opportunity. What’s obvious&nbsp;
  span.bold in a case study
  | , is far from obvious&nbsp;
  span.bold in the field
  | .
p Keyword research takes patience. And telling your manager your going to spend the majority of next year creating 4,000 weather pages takes cojones.
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/seo/keyword-research` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/seo/keyword-research&via=GoodMarketingHQ%20&text=${encodeURI("How step by step keyword research led to an SEO goldmine")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/seo/keyword-research` target="_blank")!=icon("linkedin")
