p No explanation needed.
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl8/nl1d.png" alt="Google Ads").img__90
p
  span.italic — Harry
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/ads/leeches` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/ads/leeches&via=GoodMarketingHQ%20&text=${encodeURI("How to stop a competitor leeching off your brand name")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/ads/leeches` target="_blank")!=icon("linkedin")