p Coming soon
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/sales/funny-email&via=GoodMarketingHQ%20&text=${encodeURI("How to write a funny cold email")}` target="_blank")!=icon("twitter")
