p When working with email lists a lot of people make the mistake of thinking all they’ve got to do is collect email addresses' and that's job done. If it was that simple the&nbsp;
  a(href="https://mailchimp.com/resources/email-marketing-benchmarks/" target="_blank") average newsletter open rate
  |&nbsp;wouldn't be just&nbsp;
  span.bold 21%
  | .
p
  a(href="https://www.getrevue.co/" target="_blank") Revue
  |&nbsp;knows a thing or two about sending emails so I thought I’d have a look at their flow once you sign up to a newsletter.
h2 Confirmation Email
p Firstly they send a confirmation email and remind you to check your inbox.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/revue1.png" alt="Revue Confirmation Email").img__80
p The beauty of the confirmation email is that it forces the customer to track down your initial email, preventing it from getting left behind in spam.
h2 Add to Address Book
p Their second step is asking to be added to their recipients' address book.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/revue2.png" alt="Revue Address Book").img__80
p As spam filters continue to tighten, this really is the&nbsp;
  span.bold only
  | &nbsp;foolproof way of guaranteeing your email gets delivered to your recipients' primary inbox. And as you'll see later on it does make a big difference to open rates.
p Any smaller business or personal newsletter can play the “honest, well meaning, underdog” card and get away with asking to be “added to your contacts list”. In contrast, big corps daren't make this request and so their emails tend to push up daises in the Promotion Tab cemetery.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/revue3.png" alt="Promotions Tab Cemetery").img__90
h2 My version
p Inspired by Revue’s example I came up with my own flow for Marketing Examples. It's a pretty similar two step process:
p.inwardSpeech 1. Confirmation email on sign-up. Prompt to check spam prevents initial email getting lost.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/revue4.png" alt="Marketing Examples email signup").img__60
p.inwardSpeech 2. The confirmation email nicely asks the recipient to whitelist.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/revue5.png" alt="Marketing Examples welcome email").img__80
p Although these instructions aren't the “coolest”, getting emails read is my priority.
h2 Does it work?
p Well, the first batch of people who signed up to the Marketing Examples newsletter&nbsp;
  span.bold never
  |&nbsp;got an initial email. One week later I added the new welcome flow and more people joined. So I could split my email list into&nbsp;
  span.bold two different segments
  | .
p I found that&nbsp;
  span.bold 73%
  |&nbsp;of those who received&nbsp;
  span.bold my welcome email
  |&nbsp;opened my latest email newsletter, compared to just&nbsp;
  span.bold 48%
  |&nbsp;of those who&nbsp;
  span.bold never got my initial email
  | .
p So yes, a good welcome flow and asking to whitelist does seem to make a big difference to open rates.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/revue6.png" alt="Marketing Examples: Before / After Welcome Email").img__100
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/retention/newsletter-signup-flow` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/retention/newsletter-signup-flow&via=GoodMarketingHQ%20&text=${encodeURI("A much improved newsletter sign up flow")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/retention/newsletter-signup-flow` target="_blank")!=icon("linkedin")

