p 16th March 2018 a coming soon page for a Kanye West themed dating site spread like wildfire, getting coverage from&#32;
  a(href="https://www.highsnobiety.com/p/yeezy-dating-site-for-kanye-west-fans/" target="_blank") Fox
  =", "
  a(href="https://www.highsnobiety.com/p/yeezy-dating-site-for-kanye-west-fans/" target="_blank") ABC
  =", "
  a(href="https://www.highsnobiety.com/p/yeezy-dating-site-for-kanye-west-fans/") Highsnobiety
  =", "
  a(href="http://www.mtv.com/news/3069924/yeezy-dating-kanye-west-interview/" target="_blank") MTV
  =", "
  a(href="https://www.complex.com/music/2018/03/yeezy-dating-pair-singles-who-love-kanye-west") Complex
  | , etc ...
video(src="https://s3.amazonaws.com/harrydry/drake.mp4" class="img__90" playsinline="playsinline" poster="https://s3.amazonaws.com/harrydry/poster4.jpg" controls="controls")
p I made the Yeezy Dating site. This article talks about how targeting a niche market was the key to the viral attention I got.
p The primary benefit of targeting a niche is that it’s far easier to get the word out about your product.&nbsp;
  span.bold Audience, press,
  | &nbsp;and&nbsp;
  span.bold influencers
  | &nbsp;are so much easier to access. Let’s go through it:
h2 Audience
p If your serving a niche it's more than likely that someone has already built your audience for you. You’ve just got to find where they hang out and share what you’ve been working on.
p For Yeezy Dating, the primary location was&nbsp;
  a(href="https://www.reddit.com/r/Kanye") r/Kanye
  | , a reddit forum consisting of 250 thousand Kanye fans. A simple&nbsp;
  a(href="https://www.reddit.com/r/Kanye/comments/82ycld/yeezydating_dating_site_for_kanye_west_fans/" target="_blank") post
  | &nbsp;announcing the dating site rose to the top and I had my first 500 email address’ signed up for the prelaunch. It got reposted on&nbsp;
  a(href="https://www.reddit.com/r/hiphopheads") r/HipHopHeads
  | &nbsp;a few days later and I got another 500 emails.
p When you are adding value to a niche it literally can be this simple!
img(src="https://s3.amazonaws.com/harrydry/test7Mob.png" alt="Yeezy Dating Viral").img__90
h2 Press
p Another benefit of serving a niche is that it’s far easier to get press. There’s going to be some hardcore bloggers out there whose full time job is to write about your niche. And unlike mass market journalists, niche journalists actually&nbsp;
  span.bold want
  |&nbsp;you to email them.
p How do you find them? Well there’s a free tool called&nbsp;
  a(href="https://idb.buzzstream.com/" target="_blank") Buzzstream Discovery
  |&nbsp;which is pretty awesome.
p You enter enter a search term and Buzzstream spits back the names of all the journalists who have written stories about that search term. So, I enter “Kanye West” and get back a list of all 440 bloggers who have written stories about Kanye West over the last month. Easy!
img(src="https://s3.amazonaws.com/harrydry/dis.png" alt="Using Buzzstream Discovery to go viral").img__90
p You can then use&nbsp;
  a(href="https://idb.buzzstream.com/" target="_blank") Hunter
  | &nbsp;to find their emails and in no time you’ve built your hardcore niche press list!
//- img(src="https://s3.amazonaws.com/harrydry/excel.png" alt="Yeezy Dating Press List").img__80
img(src="https://s3.amazonaws.com/harrydry/hunter.png" alt="Go viral with Hunter.io").img__90
h2 Influencers
p In any niche market influencers are pretty well defined and easy to get in contact with.
p For example, I emailed the dating site to two guys who host a&nbsp;
  a(href="https://twitter.com/kanyepodcast?lang=en") Kanye fan podcast
  | &nbsp;. They loved the idea and talked about it on their show. I also dm’d a bunch of Kanye fan Instagram accounts and they shared it on their Instagram stories.
h2 Benefits of a hardcore audience
p This leads on to the 2nd benefit of targeting a niche. Niches are full of passionate, hardcore fans.
p You don’t get a tattoo saying: “I love football”. You get a tattoo saying, “Pompey till I die”.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/yeezyJohn.jpg" alt="Hardcore Pompey fan").img__70
p The more passionate the audience the more likely they will help share your product. This is called the&nbsp;
  a(href="https://www.quora.com/What-is-Viral-Coefficient-K" target="_blank") viral coefficient
  | , and niche markets have high ones.
p It measures the number of&nbsp;
  span.bold new
  | &nbsp;customers that each&nbsp;
  span.bold existing
  | &nbsp;customer is able to convert. For example, you’re never going to text your friend:
p.inwardSpeech There’s a new dating app for music lovers
p but if your both Kanye fans you might send:
p.inwardSpeech OMG, there’s a new dating app for Kanye fans 😂
p and the sheer volume of friends telling friends definately played a role in it spreading so widely.
h2 Summary
p It's easier to go viral in niche markets because:
p.list.list__top 1. Audience, press, and influencers are easier to access
p.list.list__bottom 2. Hardcore fans will help share your product
p And this stuff is applicable to every niche. Don’t write a cook book, write a&nbsp;
  span.bold pasta
  | &nbsp;cook book. Don’t sell a health remedy, sell a&nbsp;
  span.bold sleep
  | &nbsp;remedy. Don’t start a travel blog, start a&nbsp;
  span.bold Digital Nomad
  | &nbsp;blog.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/kfactor.png" alt="How niche markets go viral").img__95
p And how can you tell if it's a good niche? Have a scout at the subreddit size:
p.list.list__top
  a(href="https://www.reddit.com/r/pasta/" target="_blank") r/pasta
  | : 12k
p.list
  a(href="https://www.reddit.com/r/sleep" target="_blank") r/sleep
  | : 30k
p.list.list__bottom
  a(href="https://www.reddit.com/r/digitalnomad" target="_blank") r/digitalnomad
  | : 446k
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/brand/niche` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/brand/niche&via=GoodMarketingHQ%20&text=${encodeURI("Serve a niche. Get more attention")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/brand/niche` target="_blank")!=icon("linkedin")
