p Amazon clone Peak Design's “Everyday Sling”.
p Peak Design respond with a hilrious parody video which goes viral.
p You can't fight Amazon in court. But you can fight them with humour.
.yt
  iframe(width='' height='' src='https://www.youtube-nocookie.com/embed/HbxWGjQ2szQ' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/creative/peak-design` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/creative/peak-design&via=GoodMarketingHQ%20&text=${encodeURI("Dave Gerhardt's 1 line sales email")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/creative/peak-design` target="_blank")!=icon("linkedin")
