p If your cold email doesn't have any personalisation you're doing it wrong.&nbsp;
p.inwardSpeech But personalisation is really time consuming ...
p I hear you cry. Well, I disagree. Here's an example, from a recruitment company, showing how just a couple of minutes of googling can&nbsp;
  span.bold completely transform
  | &nbsp;the quality of your email.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/beamery1.png" alt="Beamery Cold Email").img__75
p So you type Jane's name into google and find her twitter profile. You scroll through and notice she's really into snowboarding, and even won an award last weekend. Perfect!
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/beamery2.png" alt="Beamery Cold Email").img__75
h2 Open rate and Conversion
p Simple personal references can make a huge difference. The&nbsp;
  span.bold bespoke
  | &nbsp;title will dramatically improve&nbsp;
  span.bold open rate
  | . And the p.s. is a nice human touch, which should improve the response rate.
p The funny thing is that the bar is so low with cold emails, that a&nbsp;
  span.bold two minute Google
  | &nbsp;is more than enough to stand out.
h2 Template Emails
p Now, if you're stuck writing a template email, you won't be able to personalise easily (unless your&nbsp;
  a(href="https://marketingexamples.com/sales/ai-email") Ramp T Shirts
  | &nbsp;). In this case:
p.list.list__top 1.&nbsp;
  a(href="https://marketingexamples.com/sales/funny-email" target="_blank") Make people smile
p.list 2.&nbsp;
  a(href="https://marketingexamples.com/sales/advice-email" target="_blank") Try “advice emails”
p.list.list__bottom 3. Offer genuine upfront value

.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/sales/personalise` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/sales/personalise&via=GoodMarketingHQ%20&text=${encodeURI("How 2 minutes of personalisation transforms your cold emails")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/sales/personalise` target="_blank")!=icon("linkedin")
