p In August 2018, PewDiePie uploaded a video to&nbsp;
  a(href="https://www.youtube.com/watch?v=KtzBsKbPkHA" target="_blank") YouTube
  |  titled, “This channel will overtake PewDiePie”. He was referring to T-Series, a music record label in India, who were predicted to overtake him as the most subscribed channel on YouTube within a couple of months.
h2 Piggy back on viral trends
p Anticipating millions of fans would soon be searching for a place to watch the PewDiePie Vs T-Series battle unfold, two 16 year old Canadians creators set up a livestream on their channel,&nbsp;
  a(href="https://www.youtube.com/watch?v=KtzBsKbPkHA" target="_blank") Flare TV
  | , comparing the difference in subscriber count of both channels.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/flaretv1.png" alt="PewDiePie Vs T-Series Flare TV Count").img__90
p Given Flare TV's stream was the first of its kind it rose to the top of both YouTube and Google, meaning that whenever anyone serched for, “PewDiePie Vs T-Series” their video would be the first result to appear.
p Across just a 7 month period Flare TV grew from 12,000 subscribers to nearly&nbsp;
  span.bold 2.5 million
  |. And from averaging 70,000 views per month to &nbsp;
  span.bold 60 million&nbsp;
  | . According to&nbsp;
  a(href="https://www.ohbubble.com/" target="_blank") Social Blade
  |  this equates to anywhere between&nbsp;
  span.bold $190k - $3m
  | &nbsp;worth of revenue.
p To put this achievement in context, it took&nbsp;
  a(href="https://www.youtube.com/user/FoxNewsChannel/about" target="_blank") Fox News&nbsp;
  span.bold 16 years
  | ,&nbsp;
  span.bold 55 thousand
  | &nbsp;videos and&nbsp;
  span.bold hundreds of millions
  | &nbsp;of dollars to reach the same landmark of subscribers.
p In contrast Flare TV's stream cost just $29.99 / mo to&nbsp;
  a(href="https://www.ohbubble.com/" target="_blank") host
  | &nbsp;and the subscriber counts were pulled from&nbsp;
  a(href="https://akshatmittal.com/youtube-realtime/pewdiepie-vs-tseries/" target="_blank") YouTube Realtime
  | &nbsp;(a free service).
h2 Staying relevant
p Recently, Flare TV updated their stream to include&nbsp;
  a(href="https://www.youtube.com/channel/UC-9-kyTW8ZkZNDHQJ6FgpwQ" target="_blank") Music
  |, YouTube's own channel, (currently leading T-Series by 8 million subscribers), in the hope that T-Series will close the gap and they will benefit from another fierce rivalry.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/flaretv2.png" alt="Flare TV Sub Count").img__90
p They've also attempted to piggy back on the James Charles v Tati Westbrook fued with&nbsp;
  a(href="https://www.youtube.com/watch?v=PWRmpA0gNMM" target="_blank") another livestream
  | &nbsp;comparing the difference in their subscriber count.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/flaretv3.png" alt="James Charles Vs Tati Westbrook Flare TV Count").img__90
p For other examples of how to&nbsp;
  span.bold piggy back
  | &nbsp;on trending topics the&nbsp;
  a(href="https://marketingexamples.com/brand/niche" target="_blank") Yeezy Dating
  | &nbsp;example is worth a read.

.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/creative/piggybacking` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/creative/piggybacking&via=GoodMarketingHQ%20&text=${encodeURI("Growing 2.5 million subscribers piggy backing on viral trends")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/creative/piggybacking` target="_blank")!=icon("linkedin")
