p The trouble with brands on social media is (no matter how hard you try)!{' '}
  span.italic you're a brand on social media
  | .
p So what if you hire an influencer. Give them the keys. “Work your magic”.
p Well. That's what Slice did.
p Out with posts of garlic bread. In with “Take Me to Your Slice”. Hosted by pizza influencer Ricky. His Instagram pals for guests.
p Four months in and impressions just hit 1.8 million / month. Maybe they're onto something.
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl29a/be3.jpg" href="https://twitter.com/innocent/status/1118774915254165504" alt="Slice's pizza influencers").img__100.img__caption
p.caption
  | [
  a(href="https://www.instagram.com/p/C1fcbLMvz-a/" target="_blank") 1
  | ] [
  a(href="https://www.instagram.com/p/C3TgF1Kv2Co/" target="_blank") 2
  | ]
