p.inwardSpeech Take a guess.
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl27a/rf3.jpg" alt="Search Intelligence ads").img__100.img__caption
p.caption 
  span.bold Answer: How to Start a Speech
p A good title makes a promise.
p.inwardSpeech “Would you feel cheated if the content breaks the promise?”
p That's when you have a good title.
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/copywriting/promise` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/copywriting/promise&via=GoodMarketingHQ%20&text=${encodeURI("")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/copywriting/promise` target="_blank")!=icon("linkedin")