p
  a(href="https://www.reddit.com/" target="_blank") Reddit
  | &nbsp;is a bit of an untapped goldmine for marketers. The site is made up of thousands of niche communities (subreddits). This gives an opportunity to communicate directly with your audience, and if your post rises to the top benefit from some pretty major traffic.
h2 The problem
p The problem is on the majority of subreddits you’re not allowed to self promote. This is certainly a grey area because people still do. But the Reddit crowd are a tough bunch to impress and most of these posts get ignored.
p The question is:&nbsp;
  span.italic How do you self promote on Reddit and get away with it?
h2 The solution
p
  span.bold Provide upfront value
  | . I’ve seen the following pattern play out time after time on Reddit:
p.list.list__top 1. Get attention with&nbsp;
  span.bold upfront value
  |.
p.list 2. Build goodwill
p.list 3. Slide in self promotion
p.list.list__bottom 4. Everyone's happy
p Let’s see it in action:
h2 How to do it
p
  a(href="https://www.trennd.co/" target="_blank") Trennd
  |&nbsp;is a business which helps entrepreneurs uncover the next emerging trends.&nbsp;
  a(href="https://twitter.com/joshahowarth" target="_blank") Josh
  |&nbsp;(the founder) posted on Reddit listing 57 exploding trends:
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/shar1.png" alt="Trennd Reddit Promotion").img__85
p This bought goodwill, earning him the right to promote his own site.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/shar2.png" alt="Trennd Promotion Comments").img__80
p And benefitted from a nice traffic spike as a result.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/shar3.png" alt="Trennd Promotion Traffic").img__70
h2 Another example
p
  a(href="https://www.reddit.com/" target="_blank") u/SweatyStartup
  |&nbsp;wrote short summaries of the 19 best business books. It's been the top post on&nbsp;
  a(href="https://www.reddit.com/r/Entrepreneur") r/Entrepreneur
  |&nbsp;for the past couple of days.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/shar4.png" alt="Sweaty Startup Reddit Promotion").img__85
p The upfront value got people's attention. He then slipped in his CTA at the end:
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/shar5.png" alt="Sweaty Startup Subreddit").img__80
h2 How not to do it
p The antithesis of the “upfront value” post is the “Look at me!” post.
p Here,&nbsp;
  a(href="https://www.reddit.com/user/PeanutBAndJealous/") u/PeanutBAndJealous
  |&nbsp;naively assumed that the people of Reddit would care about his podcast. Pro tip: no one on Reddit cares unless you give them a reason to.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/shar6.png" alt="How not to promote on Reddit").img__85
p How could you rewrite this post? Well, the podcast is about how startups get their first 1000 users. So a better title would be:
p.inwardSpeech How the world’s ten biggest startups got their first 1000 users
p Then, after offering upfront value you could slide in the self promo at the end.
p A title which promises upfront value will get 100 times more attention than a title asking you to “Look at me!”. People come to&nbsp;
  a(href="https://www.trennd.co/" target="_blank") r/entrepreneur
  |&nbsp;to learn, not to look at poorly executed side projects.

.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/content/reddit` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/content/reddit&via=GoodMarketingHQ%20&text=${encodeURI("The key to self promotion on Reddit")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/content/reddit` target="_blank")!=icon("linkedin")
