p I don't know.
p.inwardSpeech
  span.italic “Marketing is just 9-letter jargon for test”
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl20/n5.png" alt="Calvin Klein Marketing Strategy").img__100.img__caption
p.caption h/t (the indomitable)!{' '}
  a(href="https://twitter.com/dannypostmaa/status/1645380711711662080" target="_blank") Danny Postma
p
  span.italic — Harry
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/landing-page/trial` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/landing-page/trial&via=GoodMarketingHQ%20&text=${encodeURI("")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/landing-page/trial` target="_blank")!=icon("linkedin")