p Anyone who’s started a business knows how tough it can be. Hours spent writing blog posts, optimising SEO, cold emailing, just to drive a handful of people to your website.
p Well, what if somehow, you could engineer a product that magically grew by itself? Technically speaking this means a product with a&nbsp;
  a(href="https://en.wikipedia.org/wiki/K-factor_(marketing)") viral coefficient
  |&nbsp;> 1 (each&nbsp;
  span.bold existing
  |&nbsp;user referring on average more than one&nbsp;
  span.bold new
  |&nbsp;user).
p Products with such strong referral loops are rarer than a Pikachu Illustrator so when I come across one it's always worth writing about.
h2 Introducing Tweet Photo
p
  a(href="https://tweet.photo" target="_blank") Tweet Photo
  |&nbsp;automatically posts your Instagram photos to Twitter. But instead of just linking the URL it embeds the full photo.
p The trick is, at the end of every tweet “via&nbsp;
  a(href="https://tweet.photo" target="_blank") tweet.photo
  | ” is appended.
img(src="https://harrydry.s3.amazonaws.com/gdmarketing/tweetphoto1.jpg", alt="Tweet Photo Before and After").img__75
p Yep, it's that simple. Why does it work?
p Well, every user of Tweet Photo is also promoting Tweet Photo. And given the product attracts highly sought after Instagram “influencers” this is seriously valuable. Current users include:
p.list.list__top
  a(href="https://twitter.com/Zendaya" target="_blank") Zendaya
  |&nbsp;- 15.5m followers
p.list
  a(href="https://twitter.com/CynthiaBailey10" target="_blank") Cynthia Bailey
  |&nbsp;- 871k followers
p.list.list__bottom
  a(href="https://twitter.com/kelelam" target="_blank") Kelela
  |&nbsp;- 183k followers
p And they're all automatically tweeting out the Tweet.Photo link every time they upload a new Instagram post. It's hardly surprising that it's starting to catch on.
p Last week 1919 tweets were posted “via&nbsp;
  a(href="https://tweet.photo" target="_blank") tweet.photo
  | ”. That's one every&nbsp;
  span.bold five minutes
  | . Churn is so low that this number will keep going up and up and given the strength of the referral loop:
p.inwardSpeech More tweets => More awareness => More users => More tweets...
p it wouldn't surprise me if Tweet Photo swept across the entire Twittersphere.
img(src="https://harrydry.s3.amazonaws.com/gdmarketing/tweetphoto3.png", alt="Tweet Photo Cycle").img__35
h2 Organic Growth so far
p Aside from an&nbsp;
  a(href="https://medium.com/@marckohlbrugge/a-better-way-to-post-your-instagram-photos-to-twitter-7f3a04a37d89") initial Medium post
  |&nbsp;by creator&nbsp;
  a(href="https://twitter.com/marckohlbrugge") Marc Köhlbrugge
  |, Tweet Photo has been left to run itself. And purely through word of mouth (or&nbsp;
  span.italic word of tweet
  | ) user growth has steadily increased week on week.
img(src="https://harrydry.s3.amazonaws.com/gdmarketing/tweetphoto2.png", alt="Tweet Photo Before and After").img__90
p And since being picked up by Zendaya user growth has skyrocketed.
h2 In summary
p The lesson here isn’t to force your users to tweet “via [your startup]” every time they use your product.
p It’s to set up systems in your product that encourage organic referral.
p For example, I’m currently embedding the tweet threads at the bottom of every article. The theory being that people are more likely to share if they see the tweet itself, instead of a generic social icon.
p Another example is @js_tut charging “a retweet” in exchange for his free eBook which I've written about&nbsp;
  a(href="https://marketingexamples.com/referral/retweet-to-read" target="_blank") here
  |.
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/referral/tweet-photo` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/referral/tweet-photo&via=GoodMarketingHQ%20&text=${encodeURI("How Tweet Photo designed virality into its product")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/referral/tweet-photo` target="_blank")!=icon("linkedin")
