p So. Barbie comes out and Greta Gerwig becomes one of the hottest names on the planet.
p Lucky for Vogue, they interviewed her 3 years earlier. Tune in for a masterclass in repurposing content.
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl24a/no1.jpg" alt="Vogue Content Repurposing").img__100
p
  span.italic — Harry
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/content/vogue` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/content/vogue&via=GoodMarketingHQ%20&text=${encodeURI("")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/content/vogue` target="_blank")!=icon("linkedin")
