p January 2003. Innocent co-founder Adam has an idea.
p.inwardSpeech “What if we ask customers to knit hats for our smoothies?”
p Everyone laughs. Twenty years later…
p.list.list__top • 11 million hats knitted
p.list • £3 million raised for Age UK (to keep older folk warm)
p.list.list__bottom • Too much PR to count
p.inwardSpeech “It may well be that creativity is the last unfair advantage we're legally allowed to take over our competitors.” — Bill Bernbach
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl17/nle1x.png" alt="Innocent's Smoothie Little Hats").img__100
p
  span.italic — Harry
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/creative/wolly-hats` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/creative/wolly-hats&via=GoodMarketingHQ%20&text=${encodeURI("Innocent’s Wooly Hats")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/creative/wolly-hats` target="_blank")!=icon("linkedin")