p
  span.italic
    a(href="http://zendeskalternative.com/" target="_blank") Zendesk Alternative
  |!{' '}— A tongue-in-cheek five-piece set up by Zendesk to prevent competitors ranking for their brand name.
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl18/z2.png" alt="Zendesk Alternative").img__100
p
  span.italic — Harry
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/creative/zendesk` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/creative/zendesk&via=GoodMarketingHQ%20&text=${encodeURI("Zendesk Alternative")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/creative/zendesk` target="_blank")!=icon("linkedin")